<template>
  <div>index</div>
</template>

<script>
export default {
  // name: 'SqfcwIndex',

  // components: { ComponentName },

  // directives: { DirectiveName },

  data() {
    return {};
  },

  mounted() {
    if (!wx.getStorageSync("login")) {
      wx.navigateTo({
        url: "/pages/login/login",
      });
    }
  },

  methods: {},
};
</script>

<style lang="scss" scoped>
</style>