.box{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    .container{
        width: 100%;
        background-color: var(--bg);
        padding: 0 0 21px 0;
        border-bottom: 1px solid var(--border-color);
        padding: 21px 0 21px 0;
    }
    .markdown{
        word-break: break-word;
        line-height: 1.75;
        font-weight: 400;
        font-size: 15px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        overflow-x: hidden;
        letter-spacing: 1.2px;
        color: var(--main-text-color);
        padding: 8px 0 0 0;
        h2{
            padding-bottom: 12px;
            font-size: 24px;
            text-align: center; 
            margin: 0 !important; 
            border: 0;
            color: var(--main-text-color);
        }
        p{
            line-height: inherit;
            text-align: center; 
            margin: 0 !important;
            font-size: 15px;
            color: var(--main-text-color);
            strong{
                font-size: 15px;
            }
            strong:before{
                content: "\300C";
            }
            strong:after{
                content: "\300D";
            }
        }
        
    }
    .main{
        max-width: 800px;
        padding: 16px;
        margin: 0 auto;
        height: 100%;
        // border-top: 1px solid var(--border-color);
        background: var(--bg-body);
        .ping{
            margin-bottom: 30px;
            color: var(--main-text-color);
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            letter-spacing: .06em;
        }
        .recommend{
            margin-top: 16px;
            margin-bottom: 30px;
            color: var(--main-text-color);
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            letter-spacing: .06em;
        }
        .articleList{
            background-color: var(--bg-second);
            padding: 16px;
        }
    }
}