<template>
  <div class="box">
    <div class="banner">
      <div class="img"></div>
      <div class="title">
        <div class="top_title">智能AI找房</div>
        <div class="sub_title">房源匹配 实时精准通知</div>
      </div>
    </div>
    <div class="home">
      <div class="home_item">
        <div class="img"></div>
        <div class="text">
          <div class="top_text">智能找房</div>
          <div class="sub_text">户型优质·最近降价·必看好房</div>
        </div>
      </div>
      <div class="home_item"></div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },

  mounted() {},

  methods: {},
};
</script>

<style scoped>
.box {
  height: 290px;
  width: 100vw;
}
.box .banner {
  width: 100%;
  height: 174px;
  position: relative;
  overflow: hidden;
}
.box .banner .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: url(https://images.sqfcw.com/zhaofang/banner.png?x-oss-process=style/w_400);
  background-position: 0% 0%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.box .banner .title {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  padding: 0 24px;
}
.banner .title .top_title {
  font-size: 17px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 5px;
}
.banner .title .sub_title {
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
}
.home {
  position: relative;
  margin-top: -33px;
}
.home .home_item {
  margin: 0 16px 9px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  border-radius: 5px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 12px 16px;
}
.home .home_item .img {
  width: 28px;
  height: 28px;
  margin-right: 10px;
  overflow: hidden;
}
.home .home_item .text {
  -webkit-box-flex: 1;
  flex: 1;
}
.home .home_item .text .top_text{
  font-weight: 600;
    font-size: 14px;
    color: #3a3f42;
    margin-right: 2px;
}
.home .home_item .text .sub_text{
  margin-top: 6px;
    color: #8c8c8c;
}
</style>