.top {
  padding: 24px 12px;
  background-color: #fff;
}
.form {
  // width: 100%;
  display: flex;
  .item {
    width: 30%;
  }
}
.btn {
  width: 100%;
  height: 40px;
  .searchbtn {
    float: right;
  }
}
.file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  font-size: 1.1em;
  background-color: #fff;
  > div {
    width: 100%;
  }
  .upload {
    float: right;
  }
}
.card {
  padding: 24px 12px;
  background-color: #fff;
}
.ant-card-cover {
  width: 100%;
  height: 180px;
  position: relative;
}
.searchbtn {
  button {
    width: auto;
  }
}

.img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate3d(-50%, -50%, 0);
  object-fit: cover; 
}
.ant-card-meta-description{
    width:100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.pagina{
  display: flex;
  justify-content: space-between;
}
