.bigFFF {
  height: 500px;
  display: flex;
  align-items: center;
  text-align: center;

  span {
    font-size: 30px;
    border-right: 1px solid #000;
    padding-right: 16px;
    margin-right: 16px;
  }
}
