<template>
    <div class="aotu">
        <button @click="btn">
        </button>
            <img src="../../static/finger.jpg" alt="" modu="widthFix">
    </div>
</template>

<script>
import { onMounted, reactive } from '@vue/composition-api'
export default {
  setup(){
      let data = reactive({
          aotu:[]
      })
      onMounted(()=>{
          wx.checkIsSupportSoterAuthentication({
            success(res) {
                // res.supportMode = [] 不具备任何被SOTER支持的生物识别方式
                // res.supportMode = ['fingerPrint'] 只支持指纹识别
                // res.supportMode = ['fingerPrint', 'facial'] 支持指纹识别和人脸识别
                console.log(res,"+++++++++++++++");
                data.aotu = res.supportMode
            },
            complete(res){
                console.log(res,"------------");
            }
      })
      })
      function btn (){
          wx.startSoterAuthentication({
            requestAuthModes: data.aotu,
            challenge: '123456',
            authContent: data.aotu[0]==='facial'?'请使用人脸解锁':'请用指纹解锁',
            success(res) {
                 wx.setStorageSync('aotu', +new Date())
                    wx.navigateTo({
                        url:"/pages/index/index"
                    });
            }
        })
      }
      return {
          btn
      }
  }
};
</script>

<style lang="scss" scoped>
.aotu{
    width: 100%;
    height: 100%;
}
button{
    width: 100%;
    height: 100%;
    opacity: 0;
      position:absolute ;
    top: 0;
    left: 0;
    z-index: 1;
}
img{
    position:absolute ;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}
</style>