.searchBottom {
  background: var(--bg);
  padding: 24px 12px;
  .icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    font-size: 16px;
    float: right;
  }
}
