<template>
    <div class="detail"> 
        <div class="main">
            <!-- 轮播图 --> 
            <swiper 
            indicator-dots="ture"
            indicator-color="rgba(255, 255, 255, .5)"
            indicator-active-color="#ffffff"
            >
                <swiper-item v-for="item in goodInfo.headImgs" :key="item.id"> 
                    <img :src="item" alt=""> 
                </swiper-item>
            </swiper>
            <!-- 价格 -->
            <div class="price"> 
                <div class="price_left">
                    <span class="icon_price">￥</span> 
                    <span class="now_price">{{goodInfo.price}}</span> 
                    <span class="s_price">￥{{goodInfo.cost}}</span> 
                </div>
                <div class="price_right"> 
                    <div>
                        <span class="sell_num">已售: <span >{{goodInfo.saleTotal}}</span></span><br>
                        <span class="rema_num">只剩{{goodInfo.leftTotal}}</span>
                    </div> 
                </div>
            </div>
            <!-- 标题 -->
            <div  class="shop_title_content">
                <div class="shop_reduce" v-if="goodInfo.couponList.length>0">
                    <div v-for="item in goodInfo.couponList" :key="item.id">
                        <span class="full_reduce">满{{item.useLimitOrderAmount}}减{{item.preferentialReduceAmount}}</span>
                    </div> 
                    <span class="reduce_btn">领券></span> 
                </div> 
                <div class="shop_title">
                    <div class="title_content">{{goodInfo.title}}</div>
                    <div class="look_his">
                        <div>
                            <u-icon name="eye"></u-icon><br>
                            <span>{{goodInfo.viewTotal}} </span> 
                        </div>
                        <div>
                            <u-icon name="heart"></u-icon><br>
                            <span>收藏</span> 
                        </div>
                    </div> 
                </div>
                <!-- 详情须知 -->
                <div> 
                    <div>{{goodInfo.knowUrl}}</div> 
                </div>
            </div>
            <!-- 筛选 -->  
            <div class="near">
                <span>附近美食</span>
            </div>
            <div class="select">
                <div>全城 <u-icon name="arrow-down-fill" color="#ccc" size="28"></u-icon> </div>
                <div>距离优先 <u-icon name="arrow-down-fill" color="#ccc" size="28"></u-icon> </div>
                <div><u-icon name="level" color="#ccc" size="28"></u-icon> 价格区间 </div>
            </div>
            <!-- 商品列表 -->
            <div class="list">
                <scroll-view scroll-y="true">
                <div class="list_box">
                    <div class="list_item" v-for="item in shopList" :key="item.id" >
                    <div class="img">
                        <img :src="item.data.thumb" alt="" @click="item.data.id && goShopDetails(item.data.id)"/>
                    </div>
                    <div class="text">
                        <p>{{ item.data.title }}</p>
                        <p>
                        <span>￥{{ item.data.price }}</span>
                        <span>￥{{ item.data.oldprice }}</span>
                        <span>{{ item.data.total_saled }}</span>
                        </p>
                        <p><span>{{ item.data.sort_list[item.data.sort_list.length-1] }}</span></p>
                    </div>
                    </div>
                </div>
                </scroll-view>
            </div>
        </div>
        <!-- 底部 -->
        <div class="footer">
            <ul>
                <li><u-icon name="calendar-fill"></u-icon><br><span>商城</span></li>
                <li><u-icon name="server-fill"></u-icon><br><span>客服</span></li>
            </ul> 
            <div> 
                <button class="share_btn">分享</button>
                <button>
                    <li>￥{{goodInfo.price}}</li>             
                    <li>立即购买</li> 
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default { 
    data() {
        return {
            id:"", 
            uel:""
        };
    },
    computed: {
        ...mapState({
            goodInfo: (state) => state.goodinfo.goodInfo, 
            shopList: (state) => state.discounts.shopList,
        }),
       
    },
    mounted() {

    },

    methods: { 
        ...mapActions({
            getGoodInfo:"goodinfo/getGoodInfo"
        })
    }, 
    onShow(){  
        this.id=this.$mp.query.id
        this.getGoodInfo(this.id) ;
    }

};
</script>

<style lang="scss" scoped> 
.detail{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .main{
        flex: 1;
        overflow: auto;
    }
    .footer{
        height: 40px;
        width: 100%;
    }
}
swiper{
    width: 100%; 
    height: 300px;
    img{
        width: 100%;
        height: 300px;
    } 
}

.price{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    .price_left{
        width: 70%;  
        height: 55px;
        line-height: 55px;
        color:#fff;
        font-weight: bolder;
        background-image: linear-gradient(to right , #f04242, #e98456);
        .icon_price{
            font-size:20px;
            font-weight: 700;
        }
        .now_price{
            font-size:30px;
            font-weight: 700;
           
        }
        .s_price{
            font-size:14px;
            text-decoration: line-through; 
        }
    }
    
    .price_right{
        width: 30%; 
        height: 55px; 
        text-align: center;
        background: rgb(253,234,234);
        .sell_num{
            font-size: 11px;
            margin-top: 10px;
        }
        .rema_num{
            background: rgb(232,68,61);
            color: #fff;
            font-size: 13px;
            padding: 1px 7px;
        }
    }
}

.shop_title_content{
    padding: 6px;
    .shop_reduce{  //满减
        height: 25px;
        line-height: 25px;
        .full_reduce{
            padding:0 5px;
            margin-right: 10px;
            font-size: 13px; 
            float: left;
            color: #f04242;
            border: 1px solid #f04242;
        }
        .reduce_btn{
            background: #f04242;
            color: #fff;
            border-radius: 0 20px 20px 0;
            padding:0 5px;
            font-size: 13px;
            text-align: center;  
            float: right;
        }    
    } 
    .shop_title{
        margin-top: 10px; 
        display: flex;
        align-items: center;
        .title_content{
            width: 70%;
            font-size: 15px;
        }
        .look_his{
            display: flex;
            div{
                margin-left: 15px;
                span{
                    font-size: 10px; 
                }
            }
            
        }
    }   
}

.near{
    width: 100%;
    line-height: 43px;
    height: 45px;
    border-bottom: 1px solid #ccc;
    padding-left: 10px; 
    span{
        border-bottom: 3px solid #f04242;
        font-weight: 900;
        color: #f04242;
        font-size: 18px;
        display: inline-block;  
    }
}
.select{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 45px;
}
.list_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  .list_item {
    width: 48%;
    height: 540rpx;
    margin: 6rpx 0;
    border-radius: 30rpx;
    overflow: hidden;
    box-shadow: 0px 0px 5px #ccc;
    border-bottom: 1px solid #eee;
    .img {
      height: 340rpx;
    }
  }
}
.footer{
    display: flex;
    justify-content: space-around; 
    width: 100px;
    border-top: 1px solid #ccc;
    padding: 50x 0;
    div,ul{
         display: flex;
    }
    ul{ 
         li{
             text-align: center;
             margin: 0 10px;
         }
    }
    .div{
        float: right; 
    }
    button{
        width: 120px;
        height: 40px;
        background: #f04242;
        color: #fff;
        margin: 2px 5px 2px 0;
        border-radius: 40px;
            &.share_btn{
                background-image: linear-gradient(to right , rgb(255,136,1), rgb(255,176,16));
            }
        li{
            margin-top: -3px;
            font-size: 10px;
        }
    }
}


</style>
