<template>
  <div class="shop">
    <img :src="data.logo" alt="" mode="widthFix" />
    <p class="title">{{ data.shopName }}</p>
    <p>
      <span>{{ data.avgReview / 10 }}</span>
      <span>¥{{ data.avgPrice }}/人</span>
    </p>
    <p>
      <span>{{ data.styleCooking }}</span>
      <span>{{ data.distance | getDistance }}km</span>
    </p>
    <p class="dalianFlag">
      <span>排队</span>
      <span>{{ data.dalianFlag || "餐厅未到营业时间" }}</span>
    </p>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default: () => {},
    },
  },
  mounted() {
    // console.log(this.data,'4');
  },
};
</script>

<style lang="scss" scoped>
.shop {
  width: 100%;
  border-radius: 20rpx;
  overflow: hidden;
  background: #fff;
  margin-bottom: 5px;
  .title {
    font-size: 32rpx;
  }
  p {
    padding: 6rpx 6px;
  }
  img {
    width: 100%;
  }
  p:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  p:nth-child(4) {
    color: #878787;
    font-size: 24rpx;
    span {
      margin-right: 30rpx;
    }
  }
  p:last-child {
    span:first-child {
      color: #db5e57;
      background: #f9e5e4;
      padding: 4rpx;
      border-radius: 5rpx;
    }
  }
  .dalianFlag {
    span {
      font-size: 28rpx;
    }
  }
}
</style>

