<template>
  <div class="item5">
    <div class="left">
      <img
        :src="data.banner || data.logo || data.thumb"
        alt=""
        mode="widthFix"
      />
      <!-- <p>
        <span>{{ data.minOne && data.minOne.shopName }}</span>
         <span>{{ data.minOne && (data.minOne.distance | getDistance)}}</span>
      </p> -->
    </div>
    <div class="right">
      <p class="title">{{ data.title }}</p>
      <p class="saled">
        <span>已售{{ data.saled }}</span>
      </p>
      <div class="rob">
        <div class="rob_r">
          <p class="price">
            <span>¥{{ data.price }}</span>
            <span>¥{{ data.AvgPrice }}</span>
          </p>
        </div>
        <span class="qbtn">抢</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object | Array,
      default: () => {},
    },
  },
  mounted() {
    console.log(this.data, "5");
  },
};
</script>

<style lang="scss" scoped>
.item5 {
  width: 100%;
  display: flex;
  padding: 0 3%;
  box-sizing: border-box;
  margin-bottom: 10px;
      justify-content: space-between;
  .left {
    width: 240rpx;
    img {
      width: 100%;
      border-radius: 5px;
    }
  }
  .right {
    width: 480rpx;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .qbtn {
      width: 140rpx;
      height: 60rpx;
      background: #e8443d;
      text-align: center;
      line-height: 60rpx;
      border-radius: 50px;
      color: #fff;
      font-size: 34rpx;
    }
  }
  .rob {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .saled {
    text-align: right;
    color: #b5b5b5;
    font-size: 28rpx;
  }
  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 32rpx;
    line-height: 40rpx;
    margin-bottom: 10px;
  }
  .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span:first-child {
      color: #db4e3a;
      font-size: 32rpx;
      font-weight: 500;
    }
    span:nth-child(2) {
      flex: 1;
      color: #b4b4b4;
      font-size: 26rpx;
      text-decoration: line-through;
    }
  }
}
</style>