<template>
  <div class="ad">
    <img :src="data.banner" alt="" mode="widthFix" />
    <p>广告</p>
    <div class="info">
        <p>{{data.title}}</p>
      <div class="logo">
        <img :src="data.banner" alt="" />
        <span>{{ data.shopName }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default: () => {},
    },
  },
  mounted() {
    // console.log(this.data, "3");
  },
};
</script>

<style lang="scss" scoped>
.ad {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #fff;
  margin-bottom: 5px;
  & > img {
    width: 100%;
    border-radius: 20rpx;
  }
  & > p {
    position: absolute;
    top: 30rpx;
    left: 20rpx;
    font-size: 20rpx;
    color: #fff;
  }
}
.info {
  position: absolute;
  bottom: 40rpx;
  left: 20rpx;
  color: #fff;
  p {
      font-size: 32rpx;
      line-height: 40rpx;
      margin: 0 0 10px 0;
  }
  .logo {
      display: flex;
      align-items: center;
      span {
          font-size: 28rpx;
      }
  }
  img {
    width: 40rpx;
    height: 40rpx;
    border-radius: 50%;
    margin-right: 16rpx;
    vertical-align: -10%;
    font-size: 24rpx;
  }
}
</style>
