<template>
    <div class="rank">
        <p>
            <span></span>
            <span>热门商家</span>
        </p>
        <ul>
            <li v-for="item in data" :key="item.manageShopId">
                <img class="logo" :src="item.logo" alt="">
                <div>
                    <p>{{item.shopName}}</p>
                    <div class="imgs">
                        <span v-for="item in item.avgReview/10" :key="item">
                            <img src="https://m.mwfile.cn/mm1005/image/20191024/star.png" mode='widthFix' alt="">
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    props: {
        data: {
            type: Array,
            default: ()=>[]
        }
    }
}
</script>

<style lang="scss" scoped>
    .rank{
        width: 100%;
        padding: 10rpx 6rpx;
        box-sizing: border-box;
        // background: #c4a07c;
        background: url('https://m.mwfile.cn/mm1005/image/20210708/rank_top_banner.png') no-repeat;
        border: 1px solid #c0c0c0;
        margin-bottom: 5px;
    }
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        img.logo{
            width: 100rpx;
            height: 100rpx;
            margin-right: 10rpx;
            border-radius: 5px;
        }
        .imgs {
            height: 20rpx;
            span {
                padding: 0 2px;
            }
            img {
                width: 20rpx;
            }
        }
        li{
            width: 100%;
            margin: 10rpx 10px;
            box-sizing: border-box;
            background: #fff;
            display: flex;
            align-items: center;
            border-radius: 5px;
        }
        p:first-child{
            font-size: 22rpx;
            font-weight: 500;
        }
        p:last-child{
            font-size: 20rpx;
        }
    }
</style>
