// @import url('../../assets/body.less');

.detail {
  width: 1140px;
  overflow: hidden;
  background: var(--bg-body);
  margin: 0 auto;
  padding: 16px 0 0 0;

  // icon图标
  .icons {
    height: 130px;
    width: 45px;
    position: fixed;
    z-index: 10;
    top: 30vh;
    transform: translateX(-100%);
    padding-right: 10px;
    margin-left: -20px;
    div {
      margin-bottom: 5px;
      position: relative;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--bg-second);
      color: var(--disable-text-color);
      border-radius: 50%;
      padding: 3px 0;
      margin-top: 16px;
      cursor: pointer;

      &:nth-child(1) {
        margin-top: 0;
      }
      &.likeActive {
        svg {
          path {
            color: var(--primary-color);
          }
        }
      }
      span {
        position: absolute;
        top: -7px;
        right: -14px;
        background-color: var(--primary-color);
        color: #fff;
        font-size: 12px;
        height: 14px;
        line-height: 1;
        padding: 1px 7px;
        border-radius: 10px;
      }

      svg {
        width: 22px;
        height: 22px;
        path {
          color: var(--disable-text-color);
        }
      }
      &:hover svg path {
        fill: var(--primary-color);
      }
    }
  }

  .detail_left {
    width: calc(100% - 320px - 16px);
    box-sizing: border-box;
    float: left;
    background: var(--bg-second);
    .detail_content {
      background: var(--bg-second);
      padding: 0 16px;

      .header {
        text-align: center;

        img {
          width: 100%;
        }

        h1 {
          font-weight: 700;
          font-size: 40px;
          margin: 0.67em 0 0 0;
          color: var(--main-text-color);
        }

        p {
          font-style: italic;
          margin: 0 0 32px 0;
          color: var(--main-text-color);
        }
      }

      .content_bottom {
        width: 100%;
        padding: 21px 0;
        margin-top: 30px;
        line-height: 28px;
        color: var(--second-text-color);
        border-top: 1px dashed var(--border-color);

        .con_first {
          color: #655e5e;
          font-size: 12px;
          line-height: 22px;
          text-align: center;
          margin-bottom: 21px;
        }

        .con_btn {
          display: inline-flex;
          align-items: center;
          padding: 0 8px;
          border: 1px solid var(--border-color);
          border-radius: 2px;
          color: var(--second-text-color);
          background-color: var(--bg-second);
          font-size: 14px;
          text-decoration: none;
          margin-top: 0.5rem;
          padding: 2px 15px;
          cursor: pointer;
          &:hover {
            background: var(--primary-color);
            color: #fff;
          }
        }
      }
    }

    .main {
      margin-top: 10px;
      padding: 1rem 0;
      border-top: 1px solid var(--border-color);
      background: var(--bg-body);
      .comment {
        color: var(--main-text-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.06em;
      }
    }
  }

  .detail_right {
    width: 320px;
    float: right;
  }
}
