.box{
    width: 100%;
    display: flex;
    // background-color: #e7eaee;
    .left{
        max-width: 37.5%;
        padding: 0 24px;
        background-color: #fff;
        margin-right: 8px;
        box-sizing: border-box;
        color: #000;
        font-size: 14px;
        font-variant: tabular-nums;
        line-height: 1.5715;
        list-style: none;
        font-feature-settings: "tnum";
        position: relative;
        background: #fff;
        border-radius: 2px;
        display: block;
        flex: 0 0 37.5%;
    }
    .right{
        flex: 0 0 62.5%;;
        max-width: 62.5%;
        .box{
            padding: 0 24px;
            margin-left: 8px;
            background-color: #fff;
            display: flex;
            flex-direction: column;
        }
    }
}