// @import url("../../assets//body.less");
// @import '~antd/dist/antd.css';

footer {
  padding: 20px 0;
  border-top: 1px solid var(--border-color);
  // color: #c1bdbd;
  background: var(--bg-footer);
  text-align: center;

  .uls {
    display: inline-flex;
    flex-wrap: nowrap;
    margin: 8px 0 16px;

    li {
      display: inline-block;
      border-radius: 0%;
      height: 24px;
      border-radius: 50%;
      margin: 0 5px;
      text-align: center;

      svg {
        path {
          color: #c1bdbd;

          &:hover {
            background: var(--bg-footer);
          }
        }
      }
    }
  }

  .footer_p {
    margin: 0;

    p {
      margin: 0;
      font-size: 10px;
      color: #c1bdbd;
    }
  }
}
