.comment{
    width: 100%;
    .item{
        width: 100%;
        background-color: var(--bg-second);
        padding: 16px;
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        margin-top: 15px;
        header{
            height: auto;
            display: flex;
            align-items: center;
            background-color: var(--bg-second);
            border-bottom: none;
            .avatar{
                width: 32px;
                height: 32px;
                line-height: 32px;
                font-size: 18px;
                background-color: rgb(24, 144, 255);
                display: inline-block;
                border-radius: 50%;
                text-align: center;
                display: inline-block;
                .avataritem{
                    line-height: 32px;
                    transform: scale(1) translateX(-50%);
                    color: #fff;
                }
            }
            .name{
                color: var(--main-text-color);
                padding: 0 8px;
                storg{
                    font-weight: bolder;
                    font-size: 14px;
                }
                
            }
        }
        main{
            background-color: var(--bg-second);
            padding: 12px 0px 12px 40px;
            border: #fff;
            div{
                p{
                    margin: 0;
                    font-size: 15.13px;
                    color: var(--second-text-color);
                    >a{
                        color: var(--second-text-color);
                    }
                }
            }
            img{
                vertical-align: middle;
                border-style: none;
                max-width: 100%;
                max-height: 100%;
            }
        }
        .footer{
            padding: 0 0 0 40px;
            background-color: var(--bg-second);
            text-align: left;
            border: #fff;
            .item {
                background: none;
                box-shadow:none;
                padding: 0;
            }
            .avatar {
                width: 24px;
                height: 24px;
                line-height: 24px;
                font-size: 14px;
                span {
                    line-height: 24px;
                }
            }
            .times{
                color: var(--disable-text-color);
                span:nth-child(1){
                    color: var(--disable-text-color);
                }
                time{
                    color: var(--disable-text-color);
                }
                path {
                    color: var(--disable-text-color);
                }
                .reply{
                    cursor: pointer;
                    margin-left: 8px;
                    color: var(--disable-text-color);
                    svg path{
                       fill: var(--disable-text-color);; 
                    }
                    .anticon{
                        display: inline-block;
                        color: inherit;
                        font-style: normal;
                        line-height: 0;
                        text-align: center;
                        text-transform: none;
                        vertical-align: -.125em;
                        text-rendering: optimizeLegibility;
                        -webkit-font-smoothing: antialiased;
                    }
                    .anticon:hover{
                        color: #ff0064;
                    }
                    .anticon:hover svg path{
                        fill: #ff0064;
                    }
                }

            }
        }
    }
}
.box{
    width: 100%;
    height: 0px;
    opacity: 0;
    transition: all .4s;
    overflow: hidden;
}
.inpshow{
    opacity: 1;
    height: 169px;
}