<template>
  <div class="my">
    <!-- 用户信息 -->
    <MyUser :userid="userdata.uid" />
    <!-- 订单操作 -->
    <MyOrder />
    <!-- 优惠卷 -->
    <MyCoupons />
    <!-- 用户操作 -->
    <MyUserAction />
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
import MyUser from "@/components/MyUser";
import MyOrder from "@/components/MyOrder";
import MyCoupons from "@/components/MyCoupons";
import MyUserAction from "@/components/MyUserAction";
export default {
  components: { MyUser, MyOrder, MyCoupons, MyUserAction },
  data() {
    return {
      userid: "",
    };
  },
  computed: {
    ...mapState({
      userdata: (state) => state.my.userdata,
      couponsList: (state) => state.my.couponsList,
    }),
  },
  mounted() {
    this.getuserid();
    this.getMyCoupons()
  },
  methods: {
    ...mapMutations({
      update: "my/update",
    }),
    ...mapActions({
      getuserid: "my/getuserid",
       getMyCoupons: "my/getMyCoupons",
    }),
  },
};
</script>

<style lang="scss" scoped>
.my {
  padding: 30rpx;
}
</style>