:global {
  .ant-menu-item-selected {
    background-color: black;
  }
}

.hello {
  margin-bottom: .5em;
  color: #333;
  font-weight: 600;
  font-size: 38px;
  line-height: 1.23;
}

.role {
  margin-bottom: 1em;
}

.layout {
  height: 100%;
  overflow: hidden;

  //右侧导航
  .layoutLeft {
    height: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      background: transparent;
    }

    &::-webkit-scrollbar-track {
      border-radius: 0;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 0;
      background-color: transparent;
      transition: all .2s;
    }

    &:hover::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-bg);
    }
  }

  //右侧
  .layoutRight {
    display: flex;
    flex-direction: column;
  }

  .layoutHeader {
    width: 100%;
    padding: 16px;
    border-bottom: 1px solid var(--border-color);
    background: #fff;
    height: auto;
    line-height: auto;
  }

  .layoutContent {
    flex: 1;
    display: flex;
    flex-direction: column;

    .contentHeader {
      position: relative;
      padding: 12px 24px;
      background: #fff;
      box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
      z-index: 100;

      .Breadcrumb {
        margin: 0 0 12px 0;
      }
    }

    .loyoutChildren {
      flex: 1;
      overflow: auto;
      padding: 24px;

      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background: transparent;
      }

      &::-webkit-scrollbar-track {
        border-radius: 0;
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 0;
        background-color: transparent;
        transition: all .2s;
      }

      &:hover::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-bg);
      }
    }
  }

  //左侧视图
  .layoutContainer {}
}
