.form_item {
  display: flex;
  align-items: center;
  margin-bottom: 16px; 
//   display: flex;
  .lable { 
    width: 50px;
  }
  .input_text{
      width: 500px;
      input{
          width: 100%;
      }
  }
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 16px;
  text-align: right;
  left: 0px;
  background: rgb(255, 255, 255);
  border-radius: 0px 0px 4px 4px;
}
