// @import url("../../assets//body.less");
// @import '~antd/dist/antd.css';

.layouts_header {
    height: 64px;
    overflow: hidden;
    background-color: var(--bg);
    border-bottom: 1px solid var(--border-color);

    .container {
      height: 100%;

      .header_logo {
        height: 64px;
        margin: 0 56px 0 0;
        display: flex;
        align-items: center;
        float: left;
        justify-content: center;
        cursor: pointer;

        img {
          width: 100px;
        }
      }

      .nav_but {
        display: block;
        float: right;
        display: flex;
        height: 100%;
        align-items: center;
        display: none;
        .content {
          width: 25px;
          height: 25px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          div {
            width: 25px;
            height: 4px;
            border-radius: var(--border-radius);
            background-color: var(--primary-color);
            opacity: 1;
            transition: all .25s ease-in-out 0s;
          }
          &.active {
            display: block;
            :nth-child(1) {
              transform: translateY(9px) rotate(45deg);
            }
            :nth-child(2) {
              display: none;
            }
            :nth-child(3) {
              transform: translateY(5px) rotate(-45deg);
            }
          }
        }
      }

      .header_nav {
        float: left;
        height: 64px;
        overflow: hidden;
        width: calc(100% - 156px);
        a {
          padding: 0 20px;
          display: inline-block;
          line-height: 64px;
          font-size: 16px;
          color: var(--second-text-color);
          &.active {
            color: #f40a12;
          }

          &:first-child {
            padding: 0 20px 0 0;
          }

          &:hover {
            color: #f40a12;
          }
        }
      }

      .header_right {
        display: flex;
        justify-content: space-around;
        float: right;
        align-items: center;
        height: 100%;
        .ant-space{
          padding: 0;
        }
        div:nth-child(2){
          height: 30px;
        }
        div {
          padding: 0 20px;
          text-align: center;
          cursor: pointer;
          .sun {
            position: relative;
            height: 24px;
            width: 24px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            &:hover {
              &.active {
                :nth-child(1) {
                  transform: scale(1) translate(20%,-40%);
                }
              }
              :nth-child(3) {
                transform: rotate(calc(calc(3 * calc(1turn / 12)) - 20deg ));
              }
              :nth-child(4) {
                transform: rotate(calc(calc(4 * calc(1turn / 12)) - 20deg ));
              }
              :nth-child(5) {
                transform: rotate(calc(calc(5 * calc(1turn / 12)) - 20deg ));
              }
              :nth-child(6) {
                transform: rotate(calc(calc(6 * calc(1turn / 12)) - 20deg ));
              }
              :nth-child(7) {
                transform: rotate(calc(calc(7 * calc(1turn / 12)) - 20deg ));
              }
              :nth-child(8) {
                transform: rotate(calc(calc(8 * calc(1turn / 12)) - 20deg ));
              }
            }
            :nth-child(1) {
              position: absolute;
              border-radius: 50%;
              top: 0;
              right: 0;
              transform: scale(0) translate(-100%,35%);
              z-index: 9;
              transition: transform .4s;
              transform-origin: right;
              background: var(--sun-color);
            }
            :nth-child(2) {
              position: relative;
              z-index: 3;
              background: var(--sun-color);
              width: 24px;
              height: 24px;
              border-radius: 50%;
              border: 2px solid var(--bg);
            }
            :nth-child(3) {
              transform: rotate(calc(3 * calc(1turn / 12)));
            }
            :nth-child(4) {
              transform: rotate(calc(4 * calc(1turn / 12)));
            }
            :nth-child(5) {
              transform: rotate(calc(5 * calc(1turn / 12)));
            }
            :nth-child(6) {
              transform: rotate(calc(6 * calc(1turn / 12)));
            }
            :nth-child(7) {
              transform: rotate(calc(7 * calc(1turn / 12)));
            }
            :nth-child(8) {
              transform: rotate(calc(8 * calc(1turn / 12)));
            }
            .sunItem {
              width: 2px;
              background: var(--sun-color);
              display: block;
              height: 125%;
              position: absolute;
              z-index: 2;
              transition: all .4s,height .3s ease-in-out;
            }
            &.active {
              .sunItem {
                display: none;
              }
              :nth-child(1) {
                height: 28px;
                width: 28px;
                transform: scale(1) translate(35%,-35%);
                background: var(--bg);
              }
              :nth-child(2) {
                position: relative;
                z-index: 3;
                background: #e684af;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                border: 2px solid #e684af
              }
            }
          }
          svg {
            width: 24px;
            height: 24px;
            path {
              color: var(--second-text-color);
            }
          }
        }
      }
    }
  }