<template>
  <div class="recommend" >
    <div class="top" v-if="pageParams">
      <p>{{ pageParams.content }}</p>
      <p v-show="pageParams.rightfont">{{ pageParams.rightfont }}</p>
    </div>
    <div class="main"  v-if="pageParams">
      <scroll-view scroll-x="true">
        <div class="box" >
          <div
            v-for="(item) in pageParams.data"
            :key="item.id"
            class="item"
            @click="goShopDetail(item.id)"
          >
            <div class="img">
              <img :src="item.thumb" alt="" />
            </div>
            <div class="text">
              <p><span v-show="$moment(item.online_time).format('YYYY-MM-DD')===$moment(new Date()).format('YYYY-MM-DD')">新品</span>{{ item.title }}</p>
              <p>
                {{ item.ncon }}<span>{{ item.saled }}</span>
              </p>
              <p>
                <span>￥{{ item.proprice }}</span>
                <span>￥{{ item.oldprice }}</span>
              </p>
            </div>
          </div>
        </div>
      </scroll-view>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    pageParams: {
      type: Object,
      default: () => {},
    },
  },
  methods: {
    goShopDetail(id) {
      wx.navigateTo({ url: `/pages/goodinfo/index?id=${id}` });
    },
  },
};
</script>

<style lang="scss" scoped>
.recommend {
  width: 100%;
  background: #fff;
  align-items: center;
  .top {
    padding: 20rpx;
    display: flex;
    justify-content: space-between;
    p:nth-child(2) {
      cursor: pointer;
      color: #666;
      font-size: 33rpx;
    }
  }
  .main {
    width: 100%;
  }
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  .item {
    flex-shrink: 0;
    width: 270rpx;
    margin: 0 16rpx;
    height: 500rpx;
    border-radius: 30rpx 30rpx 0 0;
    overflow: hidden;
    box-shadow: 0px -3px 5px #ccc;
    border-bottom: 1px solid #eee;
    .img {
      width: 100%;
      height: 300rpx;
    }
    .text {
      padding: 10rpx;
      line-height: 40rpx;
      p:nth-child(1) {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        font-size: 32rpx;
        span {
          padding: 4rpx;
          background-image: linear-gradient(to right, #ec882f, #fabd44);
          color: #fff;
          font-size: 28rpx;
        }
      }
      p:nth-child(2) {
        font-size: 30rpx;
        color: #ccc;
      }
      p:nth-child(3) {
        font-size: 32rpx;
        span:nth-child(1) {
          color: #ed3f2d;
          font-size: 36rpx;
        }
        span:nth-child(2) {
          color: #b4b4b4;
          text-decoration: line-through;
        }
      }
    }
  }
}
img {
  width: 100%;
  height: 100%;
}
</style>