@import url('../../layouts/index.less');

.nav {

  .ant-menu-item-selected {
    background: none;
  }

  .herder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;

    img {
      width: 32px;
      height: 32px;
      border-top-right-radius: var(--border-radius);
      border-top-left-radius: var(--border-radius);
      object-fit: cover;
      box-sizing: border-box;
      opacity: 1;
    }

    span {
      margin-left: 4px;
      box-sizing: border-box;
      line-height: 32px;
    }
  }

  .layoutbtn {
    padding: 0 var(--aside-padding-horizontal);
    margin: 12px 0;

    .ant_btn {
      width: 100%;
    }
  }

  .menu {
    a {
      &.active {
        color: #4299e1;
        span {
          color: #4299e1;
        }
        &:hover {
          color: #4299e1;
        }
      }
    }

  }

}

:global {
  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: transparent;
  }

  .ant-menu-item-selected {
    svg {
      path {
        color: #4299e1;
      }
    }
  }
}
