<template>
  <div>add</div>
</template>

<script>
export default {
  // name: 'SqfcwIndex',

  // components: { ComponentName },

  // directives: { DirectiveName },

  data() {
    return {};
  },

  mounted() {},

  methods: {},
};
</script>

<style lang="scss" scoped>
</style>