<template>
  <div class="detail">
    <ul>
      <li>
        <label> 面试地址: </label>
        <span style="color: green" @click="routeplanning">{{
          detail.address.address
        }}</span>
      </li>
      <li>
        <label> 面试时间: </label> <span>{{ detail.create_time }}</span>
      </li>
      <li>
        <label> 练习方式: </label>
        <span style="color: green" @click="gotel(detail.phone)">{{
          detail.phone
        }}</span>
      </li>
      <li>
        <label> 是否提醒: </label>
        <span>未提醒</span>
      </li>
      <li>
        <label> 面试状态: </label>
        <span v-if="detail.status === -1">未开始</span>
        <span v-if="detail.status === 0">已打卡</span>
        <span v-if="detail.status === 1">已放弃</span>
      </li>
      <li v-if="detail.status === -1">
        <label> 取消提醒: </label>
        <span
          ><switch :checked="switch1Checked" bindchange="switch1Change"
        /></span>
      </li>
    </ul>
    <div class="btns" v-if="detail.status === -1">
      <button class="go" @click="jumpclockin">去打卡</button>
      <button class="giveup" @click="togiveup">放弃面试</button>
    </div>
  </div>
</template>

<script>
const plugin = requirePlugin("routePlan");
import { moments } from "../../utils/moment";
import { ref, reactive, onMounted, computed } from "@vue/composition-api";
export default {
  setup(props, { root }) {
    const switch1Checked = ref(false);
    onMounted(() => {
      root.$store.dispatch("home/getdetail", root.$mp.query.id);
    });
    const detail = computed(() => {
      if (root.$store.state.home.detail.address) {
        return {
          ...root.$store.state.home.detail,
          address: JSON.parse(root.$store.state.home.detail.address),
          create_time: moments(root.$store.state.home.detail.moments),
          sign_time: moments(root.$store.state.home.detail.sign_time),
        };
      }
    });
    function togiveup() {
      root.$store.dispatch("home/setdetail", {
        id: detail.value.id,
        status: 1,
      });
    }
    function jumpclockin() {
      console.log(detail);
      wx.navigateTo({
        url: `/pages/my/clockin?id=${detail.value.id}`,
      });
    }

    function routeplanning() {
      if (detail.value.address) {
        let key = "WCLBZ-Q6L6S-C4NO6-6BPPE-OEV2F-52FGA"; //使用在腾讯位置服务申请的key
        let referer = "一面而就"; //调用插件的app的名称
        let endPoint = JSON.stringify({
          //终点
          name: detail.value.address.name,
          latitude: detail.value.address.latitude,
          longitude: detail.value.address.longitude,
        });
        try {
          if (Object.keys(detail.value.address.location).length > 0) {
            endPoint = JSON.stringify({
              //终点
              name: detail.value.address.address,
              latitude: detail.value.address.location.lat,
              longitude: detail.value.address.location.lng,
            });
          }
        } catch (e) {}

        console.log(endPoint);
        wx.navigateTo({
          url:
            "plugin://routePlan/index?key=" +
            key +
            "&referer=" +
            referer +
            "&endPoint=" +
            endPoint,
        });
      }
    }
    function gotel(tel) {
      wx.makePhoneCall({
        phoneNumber: tel, //仅为示例，并非真实的电话号码
      });
    }
    return {
      detail,
      switch1Checked,
      togiveup,
      jumpclockin,
      routeplanning,
      gotel,
    };
  },
};
</script>

<style lang="scss" scoped>
ul {
  width: 100%;
  padding: 30rpx 30rpx 0 30rpx;
  li {
    border-bottom: 1px solid #ccc;
    height: 100rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    label {
      width: 20%;
    }
    span {
      display: block;
      width: 75%;
    }
  }
  &:last-child {
    border: 0;
  }
}
.btns {
  border-top: 1px solid #ccc;
  display: flex;
  height: 200rpx;
  align-items: center;
  justify-content: space-around;
  button {
    width: 260rpx;
    height: 80rpx;
    line-height: 80rpx;
    text-align: center;
    color: #fff;
    border: 0;
  }
  .go {
    background: #197dbf;
  }
  .giveup {
    background: #dc4e42;
  }
}
</style>