<template>
  <div class="my">
    <div class="user">
      <p>
        <span>
          <u-icon name="account-fill" color="#197DBF" size="120"></u-icon
        ></span>
      </p>
      <p>
        {{ tel }}
      </p>
    </div>

    <ul>
      <li @click="jump(1)">
        <span 
          ><icon class="icon-box-img" type="waiting" size="20"></icon
          >我的面试</span
        >
        <span><u-icon name="arrow-right" color="#000" size="40"></u-icon></span>
      </li>
      <li @click="jump(2)">
          <button class="btn" open-type="contact" :plain="true"> <span 
          ><icon class="icon-box-img" type="info" size="20"></icon
          > 客服中心 </span
        >
        <span><u-icon name="arrow-right" color="#000" size="40"></u-icon></span>
        </button>
       
      </li>
      <li @click="jump(3)">
        <span 
          ><icon class="icon-box-img" type="success" size="20"></icon
          >支持项目</span
        >
        <span><u-icon name="arrow-right" color="#000" size="40"></u-icon></span>
      </li>
    </ul>
  </div>
</template>

<script>
import { ref, reactive } from "@vue/composition-api";
export default {
  setup() {
    const tel = ref(String(wx.getStorageSync("iphone")) || "");
    console.log(tel.value, wx.getStorageSync("iphone"));
    tel.value = tel.value.substr(0, 3) + "****" + tel.value.substr(7);
    function jump(type){
        switch (type) {
            case 1:
                wx.navigateTo({
                    url:"/pages/my/myinterview"
                })
                break;
                case 2:
                 console.log("客服中心");
                break; 
                case 3:
                  wx.navigateTo({
                    url:"/pages/my/support"
                })
                break;
            default:
                break;
        }
    }
    return {
      tel,
      jump
    };
  },
};
</script>

<style lang="scss" scoped>
.user {
  width: 100%;
  height: 400rpx;
  background: #f4f6f9;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  p {
    text-align: center;
    span {
      width: 170rpx;
      height: 170rpx;
      display: flex;
      border-radius: 50%;
      background: #fff;
      justify-content: center;
      align-items: center;
     
    }
  }
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 40rpx;
  height: 100rpx;
  box-sizing: border-box;
//   padding: 0 40rpx;
  border-bottom: 1px solid #ccc;
  icon {
    margin: 0 35rpx;
  }
  u-icon{
       margin: 0 35rpx;
  }
  .btn{
      width: 100%;
      padding: 0;
          background: #fff;
          border: 0;
         box-shadow: 0; 
          display: flex;
  justify-content: space-between;
  align-items: center;
      }
}
 
</style>