<template>
    <div class="myinterview">
        <div class="top">
            <span v-for="(item,index) in tabTop" 
            :key="item" :class="index===ind?'on':''"
            @click="setind(index)"
            >
                {{item}}
            </span>
        </div>
          <div class="listItem" 
      v-for="item in signList"
       :key="item.id"
       @click="jumpdetail(item.id)"
       >
        <div class="left">
            <h1><span>{{item.company}}</span>
              <span class="active" v-if="item.status===-1">未开始</span>
              <span class="active1" v-if="item.status===0">已打卡</span>
              <span class="active2" v-if="item.status===1">已放弃</span>
              
            </h1>
            <p> {{item.address.address}} </p>
            <h2><span>面试时间 {{item.create_time}}</span>
             <span class="on"  v-if="item.status===-1">未提醒</span>
             <span class="on1"  v-if="item.status===0">未提醒</span>
             <span class="on2"  v-if="item.status===1">未提醒</span>
             
            </h2>
      </div>
     </div>
    </div>
</template>

<script>
import {moments} from '../../utils/moment'
import {ref,reactive,onMounted, computed,watch} from '@vue/composition-api'
export default {
    setup(props,{root}) {
        let {$store} = root;
        console.log(root);
        const page = ref(1)
        const tabTop = reactive([
            "未开始","已打卡","已放弃","全部"
        ])
        const ind = ref(0)
         watch([page,ind], ()=>{
            let payload = {page: page.value,pageSize:10};
            if(ind.value!==3){
            payload.status = ind.value - 1;
             }
            $store.dispatch('home/getsignList', payload);
        },{immediate: true})
            const signList =  computed( ()=>$store.state.home.signList.map(item=>{
            return {...item, 
                    address: JSON.parse(item.address),
                    create_time:moments(item.moments),
                    sign_time:moments(item.sign_time)
                }
            }));
        function setind(index){
         ind.value =  index;
        }
        function jumpdetail(id){
            wx.navigateTo({
                url:`/pages/my/detail?id=${id}`
            })
        }
       return {
            tabTop,
            ind,
            setind,
            signList,
            jumpdetail
       }
    }
};
</script>

<style lang="scss" scoped>
.top{
    width: 100%;
    height:100rpx;
    position: sticky;
    background: #fff;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    span{
          height: 100%;
          line-height: 100rpx;
    }
    .on{
        color: #4193CA;
        border-bottom: 1px solid #4193CA;
    }
}
.listItem{
    padding: 40rpx ;
    box-sizing: border-box;
    border-top: 16rpx #EEEEEE solid;
    .left{
        width: 100%;
        h1{
            font-size: 40rpx;
             display: flex;
             font-weight: 500;
    justify-content: space-between;
        }
        p{
            color: #ccc;
            // margin: 20rpx 0;
        }
        h2{
 display: flex;
    justify-content: space-between;
        }
        .active,.on,.active1,.active2,.on1,.on2{
            width: 120rpx;
            height: 50rpx;
            line-height: 50rpx;
            text-align: center;
            font-size: 30rpx;
        }
        .active, .on2{
            background: #F4F4F4;
            color:#A5A7AC ;
        }
        .active1,.on1{
            background: #ECF5FF;
            color:#409EFF ;
        }
        .on,.active2{
            background: #FEF0F0;
            color: #F56C6C;
        }
    }
}
</style>