<template>
    <div>
         <h1> 支持开源的项目是一种优秀的习惯 </h1>
            <p>支付金额(单位元)</p>
        <slider bindchange="slider4change"  min="1" max="1000" show-value @change="changnum"/>
        <button type="primary" @click="order">确认捐赠</button>
    </div>
</template>

<script>
import {ref} from '@vue/composition-api'
import {getorder} from '../../services'
export default {
  setup(props,{root}) {
      const num = ref(1)
   function changnum (e){
       num.value = e.detail.value 
   }
  async function order (){
      let res = await getorder(num.value)
      if(res.code===0){
          wx.requestPayment({
            timeStamp: res.data.timeStamp,
            nonceStr: res.data.nonceStr,
            package:  res.data.package,
            signType: 'MD5',
            paySign:  res.data.paySign,
            complete (res) { 
                console.log(res);
            },
            })
      }
   }
   return {
       changnum,
       order
   }
}
};
</script>

<style lang="scss" scoped>

</style>