<template>
  <div class="index">
    <map
      id="map"
      :show-location="true"
      :show-compass="true"
      :longitude="location.longitude"
      :latitude="location.latitude"
    ></map>
    <div class="active">
      <p>
        <img
          src="@/static/location.png"
          alt=""
          mode="widthFix"
          @click="goyuan"
        />
        <img src="@/static/my.png" alt="" mode="widthFix" @click="jumpmy" />
      </p>
      <button type="button" @click="jumpadd">添加面试</button>
    </div>
  </div>
</template>

<script>
import { ref, reactive, onMounted } from "@vue/composition-api";
export default {
  setup() {
    const location = reactive({
      latitude: 0,
      longitude: 0,
    });
    onMounted(() => {
      //  wx.navigateTo({
      // 	 url:"/pages/my/support"
      // })
      wx.getLocation({
        type: "wgs84",
        success(res) {
          console.log(res);
          location.longitude = res.longitude;
          location.latitude = res.latitude;
        },
      });
    });
    function jumpadd() {
      wx.navigateTo({
        url: "/pages/addinterview/index",
      });
    }
    function jumpmy() {
      wx.navigateTo({
        url: "/pages/my/index",
      });
    }
    function reduction() {
      wx.getLocation({
        type: "wgs84",
        success(res) {
          console.log(res);
          location.longitude = res.longitude;
          location.latitude = res.latitude;
          // getPhoneNumber()
        },
      });
    }
    function getPhoneNumber(e) {
      console.log(e.detail.errMsg);
      console.log(e.detail.iv);
      console.log(e.detail.encryptedData);
    }
    function goyuan() {
		console.log(12121212);
      location.longitude = location.longitude + 0.000001;
      location.latitude = location.latitude + 0.000001;
    }
    return {
      location,
      jumpadd,
      reduction,
      jumpmy,
      goyuan,
    };
  },
};
</script>

<style lang="scss" scoped>
map {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.active {
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  p {
    padding: 40rpx 20rpx;
    display: flex;
    justify-content: space-between;
    img {
      width: 80rpx;
    }
  }
  button {
    background: #000;
    color: #fff;
    border: 0;
    border-radius: 0;
  }
}
</style>