<template>
    <div>
        as
    </div>
</template>

<script>
export default {
    // name: 'DeliciousIndex',

    // components: { ComponentName },

    // directives: { DirectiveName },

    data() {
        return {
            
        };
    },

    mounted() {
        
    },

    methods: {
        
    },
};
</script>

<style lang="scss" scoped>

</style>