// @import url("../../assets/body.less");

.KnowledgeDetails {
  width: 1140px;

  .details_content {

    // .publice_contaienr;
    .details_title {
      width: 100%;
      padding-top: 14px;
      box-sizing: border-box;
      font-variant: tabular-nums;
      list-style: none;
      font-feature-settings: "tnum";
      color: rgba(0, 0, 0, .85);
      font-size: 14px;
      color: var(--second-text-color);

      .jupm {
        cursor: pointer;
      }

      i {
        font-style: normal;
      }

      span {
        color: var(--second-text-color) !important;
        margin: 0 8px;
      }
    }

    .layout {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 14px 0;

      .content_left {
        width: calc(100% - 320px - 16px);

        .content_left_nr {
          .title {
            font-weight: 800;
            color: var(--second-text-color)
          }

          .content_left_nr_chunk {
            background-color: var(--bg-second);
            padding: 11px;
            box-shadow: var(--box-shadow);
            border-radius: var(--border-radius);

            img {
              width: 100%;
              margin-top: 14px;
            }

            p,
            h3 {
              margin: 14px 0;
              text-align: center;
              color: var(--second-text-color)
            }

            .btn {
              line-height: 1.5715;
              position: relative;
              display: inline-block;
              font-weight: 400;
              white-space: nowrap;
              text-align: center;
              background-image: none;
              cursor: pointer;
              transition: all .3s cubic-bezier(.645, .045, .355, 1);
              user-select: none;
              touch-action: manipulation;
              height: 32px;
              padding: 4px 15px;
              font-size: 14px;
              border-radius: 2px;
              color: #000;
              background: #fff;
              border: 1px solid #d9d9d9;
              color: #fff;
              background: #f40a12;
              border-color: #f40a12;
            }
          }
        }

        .content_bottom_list {
          background-color: var(--bg-second);
          padding: 11px;
          box-shadow: var(--box-shadow);
          border-radius: var(--border-radius);

          li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 44px;
            font-size: 14px;
            line-height: 20px;
            padding-left: 12px;
            padding-right: 16px;
            color: var(--main-text-color);
            background-image: url();
            cursor: pointer;

            b {
              display: none;
            }

            &:hover {
              background-color: var(--bg-body);
              color: red;

              b {
                display: inline-block;
                font-weight: 400;
              }
            }
          }
        }
      }

      .content_right {
        width: 320px;

        .content_right_nr {
          width: 100%;

          h3 {
            font-weight: 800;
          }

          .other {
            width: 100%;
            cursor: pointer;
            overflow: hidden;
            padding: 14px;
            background-color: var(--bg-second);
            border-radius: var(--border-radius);
            box-shadow: var(--box-shadow);
            box-sizing: border-box;

            .other_item {
              width: 100%;
              height: 175px;
              border-bottom: 1px solid #eee;
              margin: 14px 0 10px 0;
              box-sizing: border-box;

              &:nth-child(1) {
                margin-top: 0;
              }

              &:last-child {
                border: 0;
              }

              &:hover .other_item_title {
                color: red;
              }

              .other_item_title {
                color: var(--main-text-color);
                overflow: hidden;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                text-overflow: ellipsis;
                white-space: nowrap;
              }

              .other_item_recommended {
                display: flex;
                margin-top: 12px;

                .other_item_img {
                  flex: 0 0 auto;
                  width: 190px;
                  max-height: 150px;
                  min-height: 100px;
                  border-radius: var(--border-radius);
                  margin-right: 14px;
                  overflow: hidden;

                  img {
                    width: 100%;
                    height: 125px;
                  }
                }



                .other_item_share {
                  color: #8590a6;
                  font-size: 14px;

                  .littleHands {
                    cursor: pointer;
                  }

                  .item_summary {
                    display: -webkit-box;
                    max-width: 100%;
                    color: var(--main-text-color);
                    overflow: hidden;
                    font-size: 14px;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;


                  }
                }

              }
            }
          }
        }
      }
    }
  }
}
