.searchTop {
    padding: 24px 12px 24px 0;
    background: var(--bg);
    margin-bottom: 16px;
    .searchtop {
      width: 100%;
      display: flex;
      flex-wrap: wrap; 
      > div {
        width: 25%;  
        margin-bottom:5px;
        box-sizing: border-box;
        padding: 0 12px;
        .formInp {
          background-color: orange;
          margin-bottom: 0;
        }
      }
    }
    .searchbtn {
      height: 40px;
      position: relative;
      .searchRight {
        position: absolute;
        right: 0;
        button{
          width: auto;
          margin: 0 0 0 10px;
        }
      }
    }
  }
  
  #components-form-demo-control-hooks .ant-btn {
    margin-right: 8px;
  }
  .userList {
    background: #fff;
    padding: 24px 12px;
  }
  .userAction {
    span {
      color: #1890ff;
      cursor: pointer;
    }
    i {
      position: relative;
      top: -.06em;
      display: inline-block;
      height: .9em;
      margin: 0 8px;
      vertical-align: middle;
      border-top: 0;
      border-left: 1px solid rgba(0,0,0,.06);
      padding: 0;
      color: #000;
      font-size: 14px;
      font-variant: tabular-nums;
      line-height: 1.5715;
      list-style: none;
    }
  }
  .UserStatus {
    i {
      position: relative;
    top: -1px;
    display: inline-block;
    width: 6px;
    height: 6px;
    vertical-align: middle;
    border-radius: 50%;
    padding: 3px;
    background-color: #52c41a;
    margin-right: 8px;
    }
    &.active {
      i {
        background-color: #faad14;
      }
    }
  }
  .Buttons {
    button {
      margin-right: 8px;
    }
  }