.login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #e7eaee;
}

.loginUl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;

  li {
    position: absolute;
    bottom: -160px;
    list-style: none;
    width: 40px;
    height: 40px;
    background: rgba(1, 136, 251, .15);
    animation: Djemk_Dbq-cUnLynFsk3A 15s linear infinite;

    &:first-of-type {
      left: 10%;
    }

    &:nth-of-type(2) {
      left: 20%;
      width: 90px;
      height: 90px;
      animation-duration: 7s;
      animation-delay: 2s;
    }

    &:nth-of-type(3) {
      left: 30%;
      animation-delay: 4s;
    }

    &:nth-of-type(4) {
      left: 40%;
      width: 60px;
      height: 60px;
      background: rgba(1, 136, 251, .3);
      animation-duration: 8s;
    }

    &:nth-of-type(5) {
      left: 70%;
    }

    &:nth-of-type(6) {
      left: 80%;
      width: 120px;
      height: 120px;
      background: rgba(1, 136, 251, .2);
      animation-delay: 3s;
    }

    &:nth-of-type(7) {
      left: 32%;
      width: 160px;
      height: 160px;
      animation-delay: 2s;
    }

    &:nth-of-type(8) {
      left: 55%;
      width: 20px;
      height: 20px;
      animation-duration: 15s;
      animation-delay: 4s;
    }

    &:nth-of-type(9) {
      left: 25%;
      width: 10px;
      height: 10px;
      background: rgba(1, 136, 251, .3);
      animation-duration: 12s;
      animation-delay: 2s;
    }

    &:nth-of-type(10) {
      left: 85%;
      width: 60px;
      height: 60px;
      animation-delay: 5s;
    }
  }
}



.loginConainer {
  flex-flow: row wrap;
  row-gap: 0px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  box-shadow: 0 2px 8px #f0f1f2;
  border-radius: 4px;
  display: flex !important;

  // height: auto;
  >div {
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 32px;
    min-height: 1px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .loginRight {
    background: #f7fafb;
    display: flex;
    display: inline-flex;
    align-items: center;
  }
}

.loginLeft {
  background: #fff;
}

.loginForm {
  width: 100%;
}

:global {
  .forms {
    .ant-form-item {
      margin: 0 0 30px 0;
    }

    .ant-input-password {
      .ant-input-suffix {
        flex: 0;
      }
    }

    .ant-btn-primary {
      width: 100%;
    }

    .anticon-close-circle {
      svg {
        width: auto;
        height: auto;
      }
    }
  }

}
