.img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 360px;
    margin-bottom: 12px;
    color: #888;
    background-color: #f5f5f5;
    overflow: hidden;
    .src{
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        width: 100%;
        transform: translate3d(-50%,-50%,0);
        object-fit: cover;
    }
}
.name{
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    .box{
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 7px;
        color: rgba(0,0,0,.65);
        overflow: hidden;
        font-size: 12px;
        line-height: 22px;
        text-overflow: ellipsis;
        white-space: nowrap;
        .file{
            display: inline-block;
            margin-right: 8px;
            color: rgba(0,0,0,.85);
        }
    }
}
.row{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 7px;
    color: rgba(0,0,0,.65);
    overflow: hidden;
    font-size: 12px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    .left{
        display: block;
        flex: 0 0 50%;
        max-width: 50%;
        display: flex;
        .file{
            display: inline-block;
            margin-right: 8px;
            color: rgba(0,0,0,.85);
        }
    }
}
.inp{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 7px;
    color: rgba(0,0,0,.65);
    overflow: hidden;
    font-size: 12px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    .file{
        display: inline-block;
        margin-right: 8px;
        color: rgba(0,0,0,.85);
    }
    .input{
        padding: 8px;
        border: 1px solid #dedede;
        line-height: 1.4;
        white-space: normal;
        word-wrap: break-word;
        word-break: break-all;
    }
}
.footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid rgb(232, 232, 232);
    padding: 10px 16px;
    text-align: right;
    left: 0px;
    background: rgb(255, 255, 255);
    border-radius: 0px 0px 4px 4px;
}
