<template>
  <div class="couponsdetail">
    <div class="box-top"></div>
   
 <div class="detail">
    <div v-if="data.name">
      <h1>
        {{ data.name }}
      </h1>
      <p class="detail_flex">
        <span>美生活</span>
        <span>满减券</span>
      </p>
      <p>
        <span class="btn"> 去使用 </span>
      </p>
      <p class="time">
        有效期 ：
        <span>{{ data.fetchTimeStart }}至{{ data.fetchTimeEnd }}</span>
      </p>
      <div class="hr" />
      <ul class="ul">
        <li>优惠内容 <span>满50减10元</span></li>
        <div />
        <li>
          <span>使用说明</span>
          <span>
            <img
              class="gt"
              src="https://m.mwfile.cn/mm1003/image/20210804/111543_4a8f27e038.png"
              alt=""
              mode="widthFix"
            />
          </span>
        </li>
      </ul>
    </div>
    </div>
   
    <div class="detailList">
      <li> <span>可用商品</span> <span>北京 <b>
        ^</b> </span> </li>
        <div class="detailList_box">
          <div class="detailList_item" v-for="(item,index) in detailrec" :key="index">

          </div>
        </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
import moment from "moment";
import { getCouponsDetail,getDetailrec } from "../../serve";
export default {
  // name: 'DeliciousIndex',

  // components: { ComponentName },

  // directives: { DirectiveName },

  data() {
    return {
      data: {},
      pageNo:1,
      detailrec:[]
    };
  },
  computed: {
    ...mapState({
      // couponsList: (state) => state.my.couponsList,
    }),
  },
  async mounted() {
    let res = await getCouponsDetail(this.$mp.query.id);
    let resRec = await getDetailrec(this.pageNo)
    if (res.errNo === 0) {
      res.data.fetchTimeStart = moment(res.data.fetchTimeStart).format(
        "YYYY-MM-DD HH:mm:ss"
      );
      res.data.fetchTimeEnd = moment(res.data.fetchTimeEnd).format(
        "YYYY-MM-DD HH:mm:ss"
      );
      this.data = res.data;
    }
    if (resRec.errNo === 0) {
      this.detailrec = resRec.data;
      console.log(resRec.data);
    }
  },

  methods: {
    ...mapMutations({
      update: "my/update",
    }),
    ...mapActions({
      getMyCoupons: "my/getMyCoupons",
    }),
  },
};
</script>

<style lang="scss" scoped>
.couponsdetail {
  padding: 30rpx;
  position: relative;
}
.box-top {
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 400rpx;
  background-image: linear-gradient(#e8443d, #fff);
}
.detail {
  width: 100%;
min-height: 600rpx;
  border-radius: 30rpx;
  box-shadow: #eee 3px 3px 3px 3px;
  background: #fff;

  h1 {
    font-size: 40rpx;
    text-align: center;
    padding-top: 55rpx;
  }
  .detail_flex {
    margin: 0 0 40rpx 0;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      display: block;
      margin: 10rpx;
      width: 70rpx;
      height: 30rpx;
      line-height: 30rpx;
      text-align: center;
      color: #fff;
      font-size: 15rpx;
      &:nth-child(1) {
        background: red;
      }
      &:nth-child(2) {
        background: #ff996c;
      }
    }
  }
  .btn {
    border-radius: 50rpx;
    display: block;
    margin: 0 auto;
    width: 300rpx;
    height: 90rpx;
    background: #fdeeed;
    color: #e8443d;
    line-height: 90rpx;
    text-align: center;
  }
  .time {
    text-align: center;
    font-size: 25rpx;
    span {
      padding-left: 20rpx;
    }
  }
  .hr {
    border-bottom: 1px dashed #ccc;
  }
  .ul {
    padding: 60rpx;
    div {
      border-bottom: 1px solid #ccc;
      margin: 40rpx 0;
    }
    li {
      display: flex;
      justify-content: space-between;
    }
    .gt {
      width: 25rpx;
      transform: rotate(-90deg);
    }
  }
}
</style>