.header{
    color: #333;
    font-weight: 500;
    font-size: 16px;
    background: transparent;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 2px 2px 0 0;
    .title{
        display: inline-block;
        flex: 1;
        padding: 16px 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        min-height: 48px;
        margin-bottom: -1px;
    }
}
.ul{
    padding: 24px 0;
}
.item{
    display: inline-block;
    padding: 2px 8px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    margin: 0 7px 7px 0;
    color: #8e8787;
    line-height: 1.5em;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.item:hover{
    color: #fff;
    background-color: #4299e1
}