<template>
  <div class="user">
    <div class="user_left">
      <div class="user_left_img">
        <open-data type="userAvatarUrl"></open-data>
      </div>
      <div class="user_left_infor">
        <li><open-data type="userNickName" lang="zh_CN"></open-data></li>
        <li>
          <label
            >用户id:<span>{{ userid }}</span></label
          >
        </li>
      </div>
    </div>
    <div class="user_right">
      <button class="btn">加入推广</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "DeliciousIndex",

  //   directives: { DirectiveName },
  props: ["userid"],
  data() {
    return {};
  },

  mounted() {},

  methods: {},
};
</script>

<style lang="scss" scoped>
.user {
  height: 130rpx;
  display: flex;
  justify-content: space-between;
  .user_left {
    display: flex;
    .user_left_img {
      width: 130rpx;
      height: 100%;
      border-radius: 50%;
      overflow: hidden;
      justify-content: center;
    }
  }
}
.user .user_left .user_left_infor {
  margin-left: 20rpx;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  label {
    color: #949393;
    span {
      padding-left: 20rpx;
    }
  }
}
.user .user_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .btn {
    width: 150rpx;
    height: 55rpx;
    background: #e8443d;
    color: #fff;
    border-radius: 40rpx;
    text-align: center;
    font-size: 25rpx;
    line-height: 55rpx;
  }
}
</style>