<template>
  <div class="box">
    <!-- 导航头部 -->
    <div class="city">
      <p>
        北京<span><u-icon name="arrow-down"></u-icon></span>
      </p>

      <div class="inp">
        <span><u-icon name="search"></u-icon></span>
        <p>搜索好物</p>
      </div>
    </div>
    <div class="top">
      <!-- 轮播图 -->
      <div class="swiper">
        <swiper autoplay :circular="true" class="swiper_container">
          <swiper-item
            v-for="item in dataObj.page[1].params.data"
            :key="item.id"
            @click="goShopDetail(item.appurl)"
          >
            <img :src="item.img" alt="" mode="widthFix" />
          </swiper-item>
        </swiper>
      </div>
      <!-- 导航 -->
      <div class="nav">
        <div
          class="item"
          v-for="item in dataObj.page[2].params.data"
          :key="item.id"
        >
          <img :src="item.img" alt="" />
          <p>{{ item.title }}</p>
        </div>
      </div>
    </div>
    <div class="main">
      <!-- 新品推荐 -->
      <RecommendList :pageParams="dataObj.page[3].params" />
      <!-- 超值套餐 -->
      <RecommendList :pageParams="dataObj.page[4].params" />
    </div>
    <div class="tabs">
      <div class="tab_top">
        <!-- tab切换 -->
        <div class="tab_nav">
          <scroll-view scroll-x="true">
            <div class="navbox">
              <div
                class="navitem"
                v-for="(item, index) in tabList"
                :key="item.id"
              >
                <span
                  @click="changeIndex(index)"
                  :class="index === currentIndex ? 'active' : ''"
                >
                  {{ item.name }}
                </span>
              </div>
            </div>
          </scroll-view>
        </div>
      </div>
      <!-- 筛选 -->
      <div class="sort" v-if="currentIndex === 0">
        <div><span>全程</span><span id="triangle"></span></div>
        <div><span>距离优先</span><span id="triangle2"></span></div>
        <div>价格区间</div>
      </div>
      <!-- <view class="sort">
        <u-dropdown>
          <u-dropdown-item
            v-model="value1"
            title="距离优先"
            :options="options1"
            height="50"
          ></u-dropdown-item>
          <u-dropdown-item
            v-model="value2"
            title="价格区间"
            :options="options2"
          ></u-dropdown-item>
        </u-dropdown>
      </view> -->
      <!-- 数据列表 -->
      <div class="list">
        <scroll-view scroll-y="true">
          <div class="list_box">
            <div
              :class="currentIndex === 0 ? 'list_item' : 'list_item list_items'"
              v-for="item in shopList"
              :key="item.id"
            >
              <div class="img">
                <img :src="item.data.thumb" alt="" @click="item.data.id && goShopDetails(item.data.id)"/>
              </div>
              <div class="text">
                <p>{{ item.data.title }}</p>
                <p>
                  <span>￥{{ item.data.price }}</span>
                  <span>￥{{ item.data.oldprice }}</span>
                  <span>已售{{ item.data.total_saled }}</span>
                </p>
                <p>
                  <span v-if="currentIndex === 0">{{
                    item.data.sort_list[item.data.sort_list.length - 1]
                  }}</span>
                </p>
              </div>
            </div>
          </div>
        </scroll-view>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
// 引入组件
import RecommendList from "@/components/RecommendList";

import { time } from "@/utils/time";
export default {
  data() {
    return {
      currentIndex: 0,
      time: time,
      value1: 1,
      value2: 2,
      options1: [
        {
          label: "默认排序",
          value: 1,
        },
        {
          label: "距离优先",
          value: 2,
        },
        {
          label: "价格优先",
          value: 3,
        },
      ],
      options2: [
        {
          label: "去冰",
          value: 1,
        },
        {
          label: "加冰",
          value: 2,
        },
      ],
    };
  },
  // 注册组件
  components: {
    RecommendList,
  },
  computed: {
    ...mapState({
      dataObj: (state) => state.discounts.dataObj,
      tabList: (state) => state.discounts.tabList,
      totalCount: (state) => state.discounts.totalCount,
      shopList: (state) => state.discounts.shopList,
      shopParams: (state) => state.discounts.shopParams,
    }),
  },
  created() {
    this.getAllList();
    this.getTabList();
    this.getShopList(this.shopParams);
  },
  // 页面上拉触底事件的处理函数
  onReachBottom() {
    console.log("reach bottom");
    if (this.totalCount > this.shopParams.pageNo * 10) {
      this.getShopList({
        ...this.shopParams,
        tabId: this.tabList[this.currentIndex].id,
        pageNo: this.shopParams.pageNo++,
      });
    }
  },
  methods: {
    ...mapActions({
      getAllList: "discounts/getAllList",
      getTabList: "discounts/getTabList",
      getShopList: "discounts/getShopList",
    }),
    ...mapMutations({
      update: "discounts/update",
    }),
    //跳详情
    goShopDetail(url) {
      console.log(123, url);
      let arr = [];
      for (var i = 0; i < url.length; i++) {
        arr.push(url[i]);
        if (url[i] === "?") {
          arr[i] = "/index?";
        }
      }
      let urls = "/pages" + arr.join("");
      wx.navigateTo({ url: urls }); 
    },
    goShopDetails(id){ 
       wx.navigateTo({url:`/pages/goodinfo/index?id=${id}`})
    },
    changeIndex(ind) {
      this.currentIndex = ind;
      console.log(this.tabList[ind].id);
      this.getShopList({
        ...this.shopParams,
        tabId: this.tabList[ind].id,
        pageNo: 1,
      });
      console.log(this.shopList);
    },
  },
};
</script>

<style lang="scss" scoped>
.box {
  width: 100%;
  height: 100%;
  background: #eee;
  .city {
    width: 100%;
    height: 125rpx;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background: #e8443d;
    display: flex;
    align-items: center;
    > p:nth-child(1) {
      margin-left: 20rpx;
      font-size: 36rpx;
      margin-top: 20rpx;
      color: #f7f6f9;
      span {
        margin-left: 3rpx;
      }
    }
    .inp {
      margin-left: 40rpx;
      margin-top: 30rpx;
      width: 420rpx;
      height: 80rpx;
      background: #f6b4b1;
      color: #999999;
      border-radius: 40rpx;
      p {
        display: inline-block;
        margin-top: 21rpx;
      }
      span {
        margin: 0 16rpx 0 25rpx;
      }
    }
  }
}
.top {
  height: 609rpx;
  position: relative;
  .swiper {
    height: 529rpx;
    .swiper_container {
      height: 529rpx;
    }
    img {
      width: 100%;
    }
  }
  .nav {
    width: 95%;
    position: absolute;
    bottom: 0;
    left: 2.5%;
    height: 160rpx;
    background: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    // overflow: hidden;
    padding: 10rpx 0;
    .item {
      width: 25%;
      text-align: center;
      img {
        width: 100rpx;
        height: 100rpx;
      }
      p {
        font-size: 22rpx;
      }
    }
  }
}
.main {
  width: 95%;
  margin: 0 auto;
}
.tabs {
  width: 100%;
  .tab_top {
    width: 100%;
    height: 122rpx;
    .tab_nav {
      width: 100%;
      height: 120rpx;
      border-bottom: 1px solid #eee;
    }
  }
  .list {
    padding: 20rpx;
  }
}
.navbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  height: 120rpx;
  .navitem {
    flex-shrink: 0;
    display: inline-block;
    padding: 0 20rpx;
    span {
      padding: 8rpx 0;
      font-size: 34rpx;
      border-bottom: 3px solid transparent;
    }
    .active {
      color: #e8443d;
      border-bottom: 3px solid #e8443d;
    }
  }
}
#triangle {
  width: 0px;
  height: 0px;
  border-width: 15rpx;
  border-style: solid;
  border-color: #ccc transparent transparent transparent;
  position: absolute;
  right: 50rpx;
  top: 20rpx;
}
#triangle2 {
  width: 0px;
  height: 0px;
  border-width: 15rpx;
  border-style: solid;
  border-color: #ccc transparent transparent transparent;
  position: absolute;
  right: 20rpx;
  top: 20rpx;
}
.sort {
  height: 100rpx;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  > div {
    display: inline-block;
    width: 33%;
    text-align: center;
    position: relative;
    font-size: 34rpx;
  }
}

.list_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  .list_item {
    width: 48%;
    height: 570rpx;
    margin: 6rpx 0;
    border-radius: 30rpx;
    // overflow: hidden;
    box-shadow: 0px 0px 5px #ccc;
    border-bottom: 1px solid #eee;
    .img {
      height: 340rpx;
    }
  }
  .list_items {
    height: 530rpx;
  }
}
.img img {
  width: 100%;
  height: 100%;
}
.text {
  padding: 10rpx;
  p:nth-child(1) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 32rpx;
  }
  p:nth-child(2) {
    margin-top: 3rpx;
    span:nth-child(1) {
      color: #ed3f2d;
      font-size: 40rpx;
    }
    span:nth-child(2) {
      font-size: 32rpx;
      color: #b4b4b4;
      text-decoration: line-through;
    }
    span:nth-child(3) {
      font-size: 24rpx;
      color: #b4b4b4;
      float: right;
      margin-top: 18rpx;
    }
  }
  p:nth-child(3) {
    font-size: 25rpx;
    span {
      display: inline-block;
      background: #f2f6fa;
      padding: 6rpx;
      color: #949ebc;
    }
  }
}
.dropdown {
  z-index: 999;
}
</style>