.searchTop {
  padding: 24px 12px 24px 0;
  background: var(--bg);
  margin-bottom: 16px;
  .searchtop {
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    > div {
      width: 25%;  
      margin-bottom:5px;
      .formInp {
        background-color: orange;
        margin-bottom: 0;
      }
    }
  }
  .searchbtn {
    height: 40px;
    position: relative;
    .searchRight {
      position: absolute;
      right: 0;
      button{
        width: auto;
        margin: 0 0 0 10px;
      }
    }
  }
}

#components-form-demo-control-hooks .ant-btn {
  margin-right: 8px;
}
