.login {
    padding: 48rpx;
    box-sizing: border-box;
    .tabtop {
        padding: 48rpx;
        font-size: 32rpx;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        .active {
            font-size: 48rpx;
        }
    }
    .content {
        .contain-inp {
            width: 100%;
            height: 62rpx;
            display: flex;
            padding: 24rpx 0 10rpx;
            line-height: 62rpx;
            background-color: #fff;
            border-bottom: 1px solid #ccc;
        }
        .radio {
            margin-top: 10px;
        }
        
    }
    
}
