<template>
  <div class="login">
    <div class="tabtop">
      <span @click="() => (index = 0)" :class="index == 0 ? 'active' : ''"
        >密码登录</span
      >
      <span @click="() => (index = 1)" :class="index == 1 ? 'active' : ''"
        >验证码登录</span
      >
    </div>
    <div class="content">
      <div v-if="index == 0">
        <ul>
          <li>
            <div class="contain-inp">
              <input
                class="weui-input"
                type="number"
                placeholder="请输入手机号"
              />
            </div>
          </li>
          <li>
            <div class="contain-inp">
              <input
                class="weui-input"
                password
                type="text"
                placeholder="请输入密码"
              />
            </div>
          </li>
          <li class="radio">
            <radio v-model="flag" color="rgb(251, 101, 106)" />
            <span>我已阅读并同意</span>
            <u>《宿迁房产网隐私政策》</u>
            <span>及</span>
            <u>《宿迁房产网用户服务协议》</u>
          </li>
          <li>
            <button class="mini-btn" type="warn" size="mini">按钮</button>
          </li>
          <li>
            <button type="primary" plain="true">按钮</button>
          </li>
          <li>
            <span>找回密码</span>
            <span>注册账号</span>
          </li>
          <li></li>
        </ul>
      </div>
      <div v-if="index == 1">111</div>
    </div>
  </div>
</template>

<script>
export default {
  // name: 'SqfcwIndex',

  // components: { ComponentName },

  // directives: { DirectiveName },

  data() {
    return {
      index: 0,
      flag: false,
    };
  },

  mounted() {},

  methods: {},
};
</script>

<style lang="scss" scoped>
.content .contain-inp {
  width: 100%;
  height: 62rpx;
  display: flex;
  padding: 24rpx 0 10rpx;
  line-height: 62rpx;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  .radio {
    margin-top: 10px;
  }
}
</style>