.tipe {
  margin-bottom: 24px; 
  strong {
    font-weight: bolder;
    font-weight: 600;
  }
  a{
    cursor: pointer;
  }
}
.mailbottom {
  background: var(--bg);
  padding: 24px 12px;
}
.button{ 
  .btn_left{
    float: left;
  }
  .btn_right{
    float: right;
  }
}
.searchBottom {
  background: var(--bg);
  padding: 24px 12px;
  .icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    font-size: 16px;
    float: right;
  }
}
