// @import url('../../assets/body.less');

.detail {
  width: 1140px;
  overflow: hidden;
  background: var(--bg-body);
  margin: 0 auto;
  padding: 16px 0 0 0;
  display: block;

  .jumptitle {
    // width: 100%;
    height: 22px;
    display: block;
    overflow: hidden;
    color: var(--second-text-color);

    .jupm {
      cursor: pointer;
    }
  }

  // icon图标
  .icons {
    height: 130px;
    width: 45px;
    position: fixed;
    z-index: 10;
    top: 30vh;
    transform: translateX(-100%);
    padding-right: 10px;
    margin-left: -20px;


    div {
      cursor: pointer;
      margin-bottom: 5px;
      position: relative;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--bg-second);
      color: var(--disable-text-color);
      border-radius: 50%;
      padding: 3px 0;
      margin-top: 16px;
      cursor: pointer;

      &:nth-child(1) {
        margin-top: 0;
      }

      &.likeActive {
        svg {
          path {
            color: var(--primary-color);
          }
        }
      }

      span {
        position: absolute;
        top: -7px;
        right: -14px;
        background-color: var(--primary-color);
        color: #fff;
        font-size: 12px;
        height: 14px;
        line-height: 1;
        padding: 1px 7px;
        border-radius: 10px;
      }

      svg {
        width: 22px;
        height: 22px;

        path {
          color: var(--disable-text-color);
        }
      }
    }


  }

  .contianer {
    margin: 0 auto;

  }

  .detail_left {
    width: calc(100% - 320px - 16px);
    padding: 16px 0;
    box-sizing: border-box;
    float: left;


    .detail_content {
      padding: 0 16px;
      background: var(--bg-second);
      color: var(--main-text-color);

      .header {
        text-align: center;

        img {
          width: 100%;
        }

        h1 {
          font-weight: 700;
          font-size: 40px;
          margin: 16px 0 0 0;
        }

        p {
          font-style: italic;
          margin: 0 0 32px 0;
        }
      }

      .content_bottom {
        width: 100%;
        padding: 21px 0;
        margin-top: 30px;
        line-height: 28px;
        color: var(--second-text-color);
        border-top: 1px dashed var(--border-color);

        .con_first {
          color: #655e5e;
          font-size: 12px;
          line-height: 22px;
          text-align: center;
          margin-bottom: 21px;
        }

        .con_btn {
          display: inline-flex;
          align-items: center;
          padding: 0 8px;
          border: 1px solid var(--border-color);
          border-radius: 2px;
          color: var(--second-text-color);
          background-color: var(--bg-second);
          font-size: 14px;
          text-decoration: none;
          margin-top: 0.5rem;
          padding: 2px 15px;
          cursor: pointer;

          &:hover {
            background: var(--primary-color);
            color: #fff;
          }
        }
      }

      .delitePage {
        width: 100%;
        height: 56px;

        .delitePageOwn {
          width: 100%;
          height: 100%;
          padding: 8px;
          border-radius: var(--border-radius);
          background: var(--bg-second);
          border: 1px solid var(--border-color);
          box-shadow: var(--box-shadow);
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          cursor: pointer;
        }

        .delitePageTwo {
          width: 100%;
          height: 100%;
          padding: 8px;
          border-radius: var(--border-radius);
          background: var(--bg-second);
          border: 1px solid var(--border-color);
          box-shadow: var(--box-shadow);
          overflow: hidden;
          display: flex;
          align-items: center;
          cursor: pointer;
        }

        .delitePageTwo,
        .delitePageOwn {
          &:hover {
            color: var(--primary-color);
            border-color: var(--primary-color);
            cursor: pointer;
          }
        }

        .delitePageSan {
          cursor: pointer;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          display: flex;
          align-items: center;

          .delitePageItem {
            width: 45%;
            height: 100%;
            padding: 8px;
            border-radius: var(--border-radius);
            background: var(--bg-second);
            border: 1px solid var(--border-color);
            box-shadow: var(--box-shadow);
            overflow: hidden;
            display: flex;
            align-items: center;

            &:hover {
              color: var(--primary-color);
              border-color: var(--primary-color);
            }
          }

          &:nth-child(1) {
            text-align: left;
          }

          &:nth-child(2) {
            justify-content: flex-end;
          }
        }
      }
    }
  }

  .main {
    margin-top: 10px;
    padding: 1rem 0;
    border-top: 1px solid var(--border-color);
    background: var(--bg-body);
    text-align: center;

    .comment {
      color: var(--main-text-color);
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.06em;
    }
  }
}

.detail_right {
  width: 320px;
  float: right;
  margin-top: 17px;

  .right_content {
    background: var(--bg-second);
    padding: 12px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  .knowledge_rigth_top {
    color: var(--main-text-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 12px;
  }

  .knowledge_rigth_main {
    max-height: 200px;
    overflow: auto;
    scroll-behavior: smooth;
    overscroll-behavior: contain;

    li {
      border-radius: var(--border-radius);
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 32px;
      font-size: 14px;
      line-height: 20px;
      padding-left: 12px;
      padding-right: 16px;
      cursor: pointer;
      color: var(--second-text-color);

    }

    li:hover {
      color: var(--primary-color);
      background-color: var(--scrollbar-bg);
    }

    li.on {
      color: var(--primary-color);
    }
  }
}

.directory {
  header {
    height: 30px;
    color: var(--main-text-color);
    font-weight: 600;
    line-height: 22px;
  }

  main {
    height: 300px;
    overflow: auto;
    margin-left: 10px;

    .directory_title {
      div {
        position: relative;
        height: 30px;
        position: relative;
        padding: 0.5rem 0;
        display: list-item;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 2px;
          bottom: 0;
          width: 2px;
          background-color: var(--border-color);
          opacity: 0.5;
        }

        div {
          margin-top: -5px;
          padding-left: 15px;

          &:hover {
            color: var(--primary-color);
          }

          li {
            &.small {
              &::before {
                position: absolute;
                top: 17px;
                width: 4px;
                height: 4px;
                left: 5px;
                border-radius: 50%;
                background: currentColor;
                content: ' ';
              }
            }

            &::before {
              position: absolute;
              top: 17px;
              width: 6px;
              height: 6px;
              left: 5px;
              border-radius: 50%;
              margin-left: -5px;
              background: #000;
              content: '';
            }

            &:hover::before {
              background: var(--primary-color);
            }
          }
        }
      }
    }
  }
}
