.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  a{
    display: flex;
    align-items: center;
    margin-right: 12px;
    color: inherit;
    font-size: 24px;
    span{
      display: inline-block;
      color: inherit;
      font-style: normal;
      line-height: 0;
      text-align: center;
      text-transform: none;
      vertical-align: -.125em;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
    }
  }
  .tigger{
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}