body {
  color: var(--main-text-color);
  background-color: var(--bg);
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  line-height: 1.75em;
}

body {
  --aside-padding-horizontal: 16px;
  --primary-color: #0188fb;
  --link-color: #4299e1;
  --border-radius: 4px;
  --bg: #fff;
  --bg-second: #fff;
  --rgb-bg-second: 255, 255, 255;
  --bg-body: #e7eaee;
  --bg-footer: #292525;
  --bg-code: #f8f8f8;
  --blockquote-color: #fff;
  --main-text-color: rgba(0, 0, 0, 0.85);
  --second-text-color: rgba(0, 0, 0, 0.65);
  --disable-text-color: rgba(0, 0, 0, 0.35);
  --border-color: rgba(178, 186, 194, 0.15);
  --box-shadow: 0 1px 3px rgb(18 18 18/10%);
  --scrollbar-bg: #dadada;
  --comment-editor-border-color: #d9d9d9;
  --comment-editor-btn-disable-bg: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
}

body,
html,
#root {
  height: 100%;
  overflow: hidden;
}

.nav {
  .ant-menu-item-selected {
    background-color: none;
  }
}
