.searchTop {
  padding: 24px 12px;
  background: var(--bg);
  margin-bottom: 16px;
  .searchinp {
    display: flex;
  }
  .searchbtn {
    height: 40px;
    position: relative;
    .searchRight {
      position: absolute;
      right: 5px;
      button {
        margin: 0 5px;
      }
    }
  }
}

#components-form-demo-control-hooks .ant-btn {
  margin-right: 8px;
}
.button{ 
  .btn_left{
    float: left;
  }
  .btn_right{
    float: right;
  }
}
.searchBottom {
  background: var(--bg);
  padding: 24px 12px;
  .icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    font-size: 16px;
    float: right;
  }
}
 