<script>
import { mapActions } from "vuex";
export default {
  methods: {
			...mapActions({
				userLogin: 'home/userLogin'
			})
		},

  onLaunch: function () {
    wx.login({
      success:(res) => {
          this.userLogin(res.code)
          // 登录返回值
          // console.log(res,"++++++++");
      },
    });
    let aotu = wx.getStorageSync("aotu")
    if(aotu){
      let time = aotu;
      if((+new Date()-time)>(7*24*60*60*1000) ){
       wx.navigateTo({
        url:"/pages/login/aotu"
      })
      }
    }else{
      wx.navigateTo({
        url:"/pages/login/aotu"
      })
    }
  },
  onShow: function () {
    console.log("App Show");
  },
  onHide: function () {
    console.log("App Hide");
  },
};
</script>

<style lang="scss">
/*每个页面公共css */
@import "uview-ui/index.scss";
</style>
