<template>
  <div class="user_action">
    <ul class="user_action_list">
      <li class="user_action_item">
        <span> <u-icon name="order" size="28" />意见反馈</span>
        <span> <img class="gt" 
          src="https://m.mwfile.cn/mm1003/image/20210804/111543_4a8f27e038.png"
           alt="" 
           mode="widthFix"></span>
      </li>
      <li class="user_action_item">
        <span>  <u-icon name="setting"  size="28" />设置</span>
        <span> <img class="gt" 
          src="https://m.mwfile.cn/mm1003/image/20210804/111543_4a8f27e038.png"
           alt="" 
           mode="widthFix"></span>
      </li>
      <li class="user_action_item">
        <span>
          <u-icon name="kefu-ermai"  size="28" />
          联系我们
          <span class="del">400-8166-817</span>
        </span>
        <span> <img class="gt" 
          src="https://m.mwfile.cn/mm1003/image/20210804/111543_4a8f27e038.png"
           alt="" 
           mode="widthFix"></span>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  // name: 'DeliciousInedx',

  // components: { ComponentName },

  // directives: { DirectiveName },

  data() {
    return {};
  },

  mounted() {},

  methods: {},
};
</script>

<style lang="scss" scoped>

.user_action {
  margin-top: 50rpx;
  .user_action_item {
    height: 90rpx;
    line-height: 90rpx;
    display: flex;
    justify-content: space-between;
    .del {
      padding-left: 20rpx;
      color: #999;
      font-size: 25rpx;
    }
  }
}
u-icon{
margin-right: 15rpx;
} 
.gt{
  width: 20rpx;
  transform: rotate(-90deg);
}
</style>