.edit{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f5f5;
    .header{
        height: 64px;
        background-color: #fff;
        z-index: 1000;
        padding: 16px 24px;
        border-bottom: 1px solid rgb(235, 237, 240);
    }
    .main{
        flex: 1;
        height: 100px;
        overflow-y: scroll;
    }
}
.box{
    display: flex;
    justify-content: space-between;
    .left{
        .img{
            border: 1px solid #ccc;
            border-radius: 2px;
            margin-right: 16px;
        }
        .title{
            margin-right: 12px;
            margin-bottom: 0;
            color: #333;
            font-weight: 600;
            font-size: 20px;
            line-height: 32px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
.inp{
    width: 300px;
    outline: none;
    border: none;
    box-sizing: border-box;
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    display: inline-block;
    min-width: 0;
    padding: 4px 0;
    color: #000;
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    background-image: none;
    border-bottom: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all .3s;
}
.inp:hover{
    border-bottom: 1px solid #0188fb;
}
.inp:focus{
    border-bottom: 1px solid #0188fb;
}
.for-container{
    width: 100%;
    height: 100%;
}