    .inp{
        // transition: height .5s;
        // height: 0px;
        // opacity: 0;
        .terbox{
            z-index: 1;
            width: 100%;
            // height: 100%;
            cursor: pointer;
            border: 1px solid #ccc;
            padding: 5px 16px;
            textarea{
                height: 98px;
                min-height: 98px;
                max-height: 163px;
                overflow-y: hidden;
                resize: none;
                width: 100%;
                border: none;
                outline: none;
                border-color: var(--comment-editor-border-color);
                background-color: var(--bg-second);
            }
        }
        .footer{
            padding: 16px 0 0;
            display: flex;
            justify-content: space-between;
            padding-top: 1rem;
            height: 40px;
            .left{
                width: 50px;
                height: 24px;
                display: flex;
                align-items: center;
                color: var(--disable-text-color);
                font-size: 14px;
                cursor: pointer;
                span{
                    margin: 0 0 0 3px;
                    color: var(--second-text-color);
                }
            }
            .left:hover{
                color: var(--primary-color);
                span{
                    color: var(--primary-color);
                }
            }
            .right{
                width: 150px;
                height: 32px;
                button{
                    border-color: var(--comment-editor-border-color);
                    color: var(--main-text-color);
                    background-color: var(--comment-editor-disable-bg);
                    border: none;
                    text-align: center;
                    width: 64px;
                    height: 32px;
                    span{
                        text-align: center;
                    }
                }
                button:nth-child(1):hover{
                    color: var(--primary-color);
                    border: 1px solid var(--primary-color) ;
                    cursor: pointer;
                }
                button:nth-child(2){
                    cursor:not-allowed;
                }
                button.active{
                    background-color: red;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }

.face{
    display: flex;
    flex-wrap: wrap;
    max-width: 480px;
    height: 240px;
    overflow: auto;
    font-size: 22px;
    cursor: pointer;
    >li{
        width: 7.1%;
    }
}