<template>
  <div>
    <picker mode="region" @change="changeRegion">
      <span>{{ city }}</span>
    </picker>
    <input type="text" name="" id="" v-model="inpval" />
  </div>
</template>

<script>
// import QQMapWX from ('@/utils/qqmap-wx-jssdk.js');
const QQMapWX = require("../../utils/qqmap-wx-jssdk");
import { ref, reactive, onMounted, watch, ToRefs } from "@vue/composition-api";
const key = "KWYBZ-IAC6I-MP2GW-53HSL-IPFLS-R6FTJ";
export default {
  setup() {
    const inpval = ref("");
    let city = ref("北京");
    let qqmapsdk = new QQMapWX({
      key,
    });
    function changeRegion(e) {
      // inpval.value = e.target.value
      city.value = e.detail.value[0];
      console.log(city);
    }
    function getSuggestion(val) {
      console.log(val, city,qqmapsdk.getSuggestion);
      qqmapsdk.getSuggestion({
        //获取输入框值并设置keyword参数
        keyword: val, //用户输入的关键词，可设置固定值,如keyword:'KFC'
        region: city, //设置城市名，限制关键词所示的地域范围，非必填参数
        success: function (res) {
          //搜索成功后的回调
          console.log("res...", res);
          // info.suggestions = res.data;
        },
      });
    }
    watch(inpval, (val) => {
      getSuggestion(val);
    });
    return {
      inpval,
      city,
      changeRegion,
    };
  },
};
</script>

<style lang="scss" scoped>
</style>