.search {
  width: 100%;
  height: 100px;
  background-color: #fff;
  padding: 24px 12px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.table {
  background-color: #fff;
  padding: 24px 12px;

  .placeholder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    font-size: 1.1em;
    height: 35px;

    button {
      margin: 0 5px;
    }

    .btnBlock {
      display: block;
    }

    .btnNone {
      display: none;
    }
  }


  table {
    tbody {
      td {
        span {
          margin: 0 8px;
          color: #1890ff;
          cursor: pointer;
        }

        i {
          position: relative;
          top: -1px;
          display: inline-block;
          width: 6px;
          height: 6px;
          vertical-align: middle;
          border-radius: 50%;
          padding: 3px;
        }

        .yellow {
          background-color: #52c41a;
          ;
        }

        .green {
          background-color: #faad14;
        }

        b {
          font-weight: 500;
        }
      }
    }
  }
}
