  .ownspace {}

  .leftList {
    background: #fff;
    border: none;
    margin: 0 8px;
    
    li {
      color: #000;
      span {
        color: #000;
      }
    }
  }

  .rightList {
    background: #fff;
    border: none;
    margin: 0 8px;
  }
  .ownspaceRow {
    justify-content: space-between;
  }

  :global {
    .ownspace {
      .ant-list-header {
        div {
          color: #000;
        }
      }
      .Avatar {
        .ant-col-20 {
          max-width: 100%;
        }
      }
    }
  }