.knowledge_bottom {
  background: var(--bg);
  padding: 24px 12px;
}
// 新建按钮
.new_top {
  height: 32px;
  margin-bottom: 10px;
  .new_btn {
    float: right;
  }
}

.card {
  width: 100%;
  .card_box {
    display: flex;
    flex-wrap: wrap;
    .card_content {  
        width: 25%;
      padding: 0 8px 15px; 
      img {
        width: 100%;
        height: 120px;
        object-fit: cover;
      }
    }
  }
}

:global{
    .card_box___1I3Tc{
        .ant-card-bordered{
            .ant-card-cover{
                height: 120px;
                overflow: hidden;
            }
        }
       span>svg{
         fill:rgb(31, 30, 30);
       }
    }

}