// @import url('../../assets/body.less');

.ArticleTag {
  border-radius: var(--border-radius);
  background-color: var(--bg-second);
  box-shadow: var(--box-shadow);

  .ArticleTag_top {
    padding: 16px;
    border-bottom: 1px solid var(--border-color);
    color: var(--main-text-color);
    font-weight: 700;
    line-height: 17px;
  }

  .content {
    padding: 16px;
    ul {
      margin: 0;
    }
    li {
      display: inline-block;
      padding: 0 7px;
      border: 1px solid var(--border-color);
      border-radius: var(--border-radius);
      margin: 0 7px 7px 0;
      color: var(--second-text-color);
      line-height: 27px;
      cursor: pointer;
      transition: all .2s;
      &:hover {
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
      }
    }

    .content_li {
      justify-content: space-between;
      color: var(--second-text-color);
    }
  }
}
