.about{
    width: 100%;
    height: 100%;
    background-color: var(--bg-body);
    header{
        width: 100%;
        height: 100%;
        background-color: var(--bg);
        padding-top: 21px;
        .banner{
            margin: 0 auto;
            >div:nth-child(1){
                width: 100%;
                max-width: 768px;
                padding-bottom: 1.5rem;
                margin: 0 auto;
                img{
                    display: inline-block;
                    width: 100%;
                    height: auto;
                    border-radius: var(--border-radius);
                }
            }
            
            
        }
        >div:nth-child(2){
            max-width: 800px;
            padding: 0 8px 21px;
            margin: 0 auto;
            .title{
                word-break: break-word;
                line-height: 1.75;
                font-weight: 400;
                font-size: 15px;
                overflow-x: hidden;
                letter-spacing: 1.2px;
                color: var(--main-text-color);
                >h2{
                    font-size: 24px;
                    color: var(--main-text-color);
                }
            }
            
        }
    }
    main{
        max-width: 800px;
        margin: 0 auto;
        padding: 16px;
        border-top: 1px solid var(--border-color);
        background: var(--bg-body);
        .main{
            margin: 0 auto;
            .comment{
                margin-bottom: 30px;
                color: var(--main-text-color);
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                text-align: center;
                letter-spacing: .06em;
            }
        }
        .footer{
            max-width: 800px;
            margin: 0 auto;
            // padding: 0 16px;
            margin-top: 16px;
            .recommend{
                margin-bottom: 30px;
                color: var(--main-text-color);
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                text-align: center;
                letter-spacing: .06em;
            }
            .articleList{
                background-color: var(--bg-second);
                padding: 16px;
            }
        }
    }
}