<template>
  <div class="coupons">
    <div class="coupons_center">
      <div>
        <img src="../../static/my/lng.png" alt="图片丢失" mode="widthFlx" />
      </div>
      <div>
        <h2>领劵中心</h2>
        <p>免费领取优惠卷</p>
      </div>
    </div>
    <div class="coupons_center">
      <div>
        <img src="../../static/my/xin.png" alt="图片丢失" mode="widthFlx" />
      </div>
      <div>
        <h2>美味心选</h2>
        <p>美味旗下官方商城</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  //   name: "DeliciousIndex",

  //   components: { ComponentName },

  //   directives: { DirectiveName },

  data() {
    return {};
  },

  mounted() {},

  methods: {},
};
</script>

<style lang="scss" scoped>
.coupons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .coupons_center {
    width: 47%;
    height: 130rpx;
    border-radius: 20rpx;
    margin-top: 65rpx;
    box-shadow: #eee 0px 0px 1px 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
      width: 90rpx;
      height: 90rpx;
    }
    p {
      font-size: 20rpx;
      color: #999;
      margin-top: 10rpx;
    }
  }
}
</style>