.top{
    padding: 24px 12px;
    background-color: #fff;
}
.table{
    padding: 24px 12px;
    background-color: #fff;
}
.form{
    width: 100%;
    display: flex;
    >.ant-row{
        width: 25%;
        >.ant-col{
            width: 100%;
        }
    }
}
.btn{
    width: 100%;
    height: 40px;
    .searchbtn{
        float: right;
        button{
            width: auto;
        }
    }
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 16px;
    
}
.right{
    button{
        width: auto;
    }
}
.refresh{
    cursor: pointer;
}