<template>
  <div class="coupons">
    <div class="couponsTabtop">
      <span
        v-for="(item, index) in tabtop"
        :key="index"
        :class="ind === index ? 'active' : ''"
        @click="setind(index)"
      >
        {{ item }}({{
          couponsList.codeList.length > 0 && ind == index
            ? couponsList.codeList.length
            : 0
        }})
      </span>
    </div>
    <div v-if="couponsList.codeList.length">
      <div
        v-for="item in couponsList.codeList"
        :key="item.id"
        class="use_coupons"
      >
        <div class="left">
          <p>
            ￥ <span>{{ item.preferentialReduceAmount }}</span>
          </p>
          <p>满{{ item.useLimitOrderAmount }}元可用</p>
        </div>
        <div class="rigth">
          <div>
            <h2>{{ item.name }}</h2>

            <p class="time">
              {{ item.useTimeLimitStart }}至{{
                item.useTimeLimitEnd
              }}
            </p>
            <p class="yuan">满减卷</p>
          </div>
          <div>
            <span class="rigth_use" @click="jumpcoupons(item.couponId)"> 去使用</span>
          </div>
        </div>
      </div>
    </div>
    <div v-else class="pocketBottom">
      <p>
        <img
          src="http://file.mwfile.cn/in1003/image/20201103/noOrder.png"
          alt=""
          mode="widthFix"
        />
      </p>
      <p>暂无已使用的优惠券</p>
    </div>
    <p class="doudi">没有更多啦~</p>

  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
import moment from 'moment'
export default {
  data() {
    return {
      ind: 0,
      tabtop: ["未使用", "已使用", "已失效"],
    };
  },
  computed: {
    ...mapState({
      userdata: (state) => state.my.userdata,
      couponsList: (state) => state.my.couponsList,
    }),
  },
 async mounted() {
  await  this.getMyCoupons();
    console.log(this.couponsList, "------");

  this.couponsList.codeList.forEach((item,index)=>{
    item.useTimeLimitStart =  moment(item.useTimeLimitStart).format(
        "YYYY.MM.DD"
      );
       item.useTimeLimitEnd =  moment(item.useTimeLimitEnd).format(
        "YYYY.MM.DD"
      );
  }) 
  console.log(this.couponsList, "------");
  },
  methods: {
    ...mapMutations({
      update: "my/update",
    }),
    ...mapActions({
      getMyCoupons: "my/getMyCoupons",
    }),
    async setind(index) {
      this.ind = index;
      // new Date().toLocaleDateString
      await this.getMyCoupons({
        type: index,
      });
    },
    jumpcoupons(id){
      wx.navigateTo({
        url:`/pages/couponsdetail/index?id=${id}`
      })
    }
  },
};
</script>

<style lang="scss" scoped>
.coupons {
  padding: 0 50rpx;
  box-sizing: border-box;
}
.couponsTabtop {
  height: 80rpx;
  display: flex;
  align-items: center;
  justify-content: space-around;
  span {
    display: block;
    height: 100%;
    line-height: 80rpx;
    text-align: center;
  }
  .active {
    color: red;
    border-bottom: 1px solid red;
  }
}
.pocketBottom {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #A3A3A3;
  img{
    width: 400rpx;
  }
}
.use_coupons {
  display: flex;
  margin-top: 20rpx;

  box-shadow: #eee 0px 0px 1px 1px;
  .left {
    width: 40%;
    overflow: hidden;
    background: #ff9e6b;
    color: #fff;
    padding-top: 30rpx;
    p {
      text-align: center;
      font-size: 25rpx;
      span {
        font-size: 50rpx;
      }
    }
  }
  .rigth {
    width: 70%;
    padding: 30rpx 20rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .time {
      font-size: 20rpx;
      margin: 10rpx 0;
    }
    .yuan {
      display: block;
      width: 60rpx;
      height: 40rpx;
      line-height: 40rpx;
      text-align: center;
      color: #fff;
      font-size: 15rpx;
      background: #ff9e6b;
    }
    .rigth_use {
      background: #fdeeed;
      border-radius: 20rpx;
      width: 100rpx;
      height: 45rpx;
      line-height: 45rpx;
      text-align: center;
      color: #ed706b;
      display: block;
      font-size: 25rpx;
    }
  }
}
.doudi{
  text-align: center;
  margin-top: 20rpx;
  color: #999;
}
</style>