// @import url("../../assets/body.less");

.knowledge {
  position: relative;
  padding: 16px 0;
  overflow: hidden;
  .knowledge_left {
    width: calc(100% - 320px - 16px);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    box-sizing: border-box;
    background-color: #fff;
    padding: 16px;
    float: left;
    background-color: var(--bg-second);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

    .itemtop {
      margin-top: 14px;
      transition: all .3s cubic-bezier(.645, .045, .355, 1);
    }

    .item {
      transition: all .3s cubic-bezier(.645, .045, .355, 1);
      padding-bottom: 14px;
      cursor: pointer;
      border-bottom: 1px solid var(--border-color);
      cursor: pointer;

      &:hover .item_title b {
        color: red;
      }

      // &::after {
      //   content: "";
      //   position: absolute;
      //   bottom: -;
      //   width: 100%;
      //   height: 1px;
      //   background: ;
      // }

      .item_title {
        transition: all .3s cubic-bezier(.645, .045, .355, 1);

        b {
          transition: all .3s cubic-bezier(.645, .045, .355, 1);
          color: var(--main-text-color);
          overflow: hidden;
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .item_content {
        transition: all .3s cubic-bezier(.645, .045, .355, 1);
        display: flex;
        flex-wrap: nowrap;
        padding-top: 12px;

        .header {
          transition: all .3s cubic-bezier(.645, .045, .355, 1);
          flex: 0 0 auto;
          width: 190px;
          max-height: 150px;
          min-height: 100px;
          border-radius: var(--border-radius);
          margin-right: 1rem;
          overflow: hidden;

          img {
            width: 190px;
            height: 100px;
          }
        }

        .fooler {
          display: flex;
          transition: all .3s cubic-bezier(.645, .045, .355, 1);
          flex-direction: column;

          justify-content: space-between;

          .summary {
            display: -webkit-box;
            max-width: 100%;
            transition: all .3s cubic-bezier(.645, .045, .355, 1);
            color: var(--main-text-color);
            overflow: hidden;
            font-size: 14px;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          }

          .views {
            width: 100%;
            transition: all .3s cubic-bezier(.645, .045, .355, 1);
            color: #8590a6;
            font-size: 14px;
            line-height: 20px;
            margin-top: 33px;

            svg {
              margin-top: 7px;
              margin-right: 3px;
            }

            .segmentation {
              margin: 0 8px;
              transition: all .3s cubic-bezier(.645, .045, .355, 1);
            }
          }
        }
      }
    }

    .item:hover {
      .h1 {
        color: var(--primary-color);
      }
    }

  }

  .knowledge_rigth {
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    width: 320px;
    float: right;
    padding-bottom: 16px;
  }
}
