 .loading {
  height: 100%;
  display: flex;
  align-items: center;
 }
 
 .waiting {
   position: relative;
   width: 69px;
   height: 35px;
   line-height: 35px;
   border-radius: 20px;
   margin: 0 auto;
   color: #FFAF32;
 }

 /*这个是每个点的自己的块*/
 .waiting li {
   position: absolute;
   top: 13px;
   width: 10px;
   height: 10px;
   line-height: 10px;
   list-style: none;
   -webkit-animation: bounce_waiting 1.2s linear infinite;
   -webkit-transform: scale(0);
   -webkit-border-radius: 5px;
   animation: bounce_waiting 1.2s linear infinite;
   transform: scale(0);
   border-radius: 5px;

 }

 .waiting li:first-child {
   left: 15px;
   -webkit-animation-delay: 0.48s;
   animation-delay: .48s;

 }

 .waiting li:nth-child(2) {
   left: 30px;
   -webkit-animation-delay: 0.6s;
   animation-delay: 0.6s;

 }

 .waiting li:nth-child(3) {
   left: 45px;
   -webkit-animation-delay: 0.72s;
   animation-delay: 0.72s;

 }



 /*定义动画函数，从1倍减小到0*/
 @-webkit-keyframes bounce_waiting {
   0% {
     -webkit-transform: scale(1);
     background-color: #FFAF32;

   }

   100% {
     -webkit-transform: scale(0);
     background-color: #ffffff;

   }


 }

 @keyframes bounce_waiting {
   0% {
     transform: scale(1);
     background-color: #FFAF32;
   }

   100% {
     transform: scale(0);
     background-color: #ffffff;
   }
 }
