@import './less/markdown.less';

body {
  --primary-color: #ff0064;
  --sun-color: #eec413;
  --link-color: #4299e1;
  --border-radius: 2px;
  --bg: #fff;
  --bg-second: #fff;
  --rgb-bg-second: 255, 255, 255;
  --bg-body: #e7eaee;
  --bg-footer: #292525;
  --bg-code: #f8f8f8;
  --blockquote-color: #fff;
  --main-text-color: rgba(0, 0, 0, 0.85);
  --second-text-color: rgba(0, 0, 0, 0.65);
  --disable-text-color: rgba(0, 0, 0, 0.35);
  --border-color: #f0f2f7;
  --box-shadow: 0 1px 3px rgb(18 18 18/10%);
  --scrollbar-bg: #dadada;
  --comment-editor-border-color: #d9d9d9;
  --comment-editor-disable-bg: #f5f5f5;
}

body.dark {
  --sun-color: #e684af;
  --bg: #282c35;
  --bg-second: #363c48;
  --rgb-bg-second: 54, 60, 72;
  --bg-body: var(--bg);
  --bg-footer: var(--bg);
  --bg-code: rgba(115, 124, 153, 0.2);
  --blockquote-color: #fff;
  --main-text-color: hsla(0, 0%, 100%, 0.85);
  --second-text-color: hsla(0, 0%, 100%, 0.65);
  --disable-text-color: hsla(0, 0%, 100%, 0.45);
  --border-color: hsla(0, 0%, 100%, 0.2);
  --box-shadow: 0 2px 15px 0 rgba(26, 26, 27, 0.637);
  --scrollbar-bg: var(--bg-second);
  --comment-editor-border-color: var(--border-color);
  --comment-editor-disable-bg: var(--border-color);
}

.publice_contaienr {
  width: 1140px;
  margin: 0 auto;
  overflow: hidden;
}

@publiceSize :16px;

.loading {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

// :global{
.layouts {
  .container {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: initial;

    // position: relative;
    .index_right {
      position: sticky;
      top: 16px;

      .sticky {
        position: sticky;
        top: 16px;
      }
    }
  }
}

/*小屏幕*/
@media screen and (max-width: 768px) {
  .layouts {
    .container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;

      .index_left {
        width: 100% !important;
      }

      .index_right {
        display: none !important;
      }

      .icons {
        display: none;

        &.active {
          display: flex;
          height: 52px;
          width: 100%;
          top: auto;
          bottom: 0;
          transform: none;
          background-color: var(--bg-second);
          padding: 0;
          margin: 0;
          left: 0;

          div {
            flex: 1;
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;

            &:nth-child(1) {
              span {
                width: fit-content;
                top: 4px;
                left: 0;
                right: -30px;
                margin: auto;
              }
            }
          }
        }
      }
    }

    .layouts_header {
      .container {
        .nav_but {
          display: flex;
        }

        .header_nav {
          position: absolute;
          top: 64px;
          left: 0;
          width: 100vw;
          // max-height: 0;
          height: 0.1px;
          padding: 0 15px;
          margin-left: 0;
          background-color: var(--bg);
          overflow: hidden;
          transition: max-height .25s;
          z-index: 100;
          display: none;

          &.active {
            display: block;
            height: auto;
            max-height: 100vh;
            overflow: auto;
          }

          a {
            padding: 0;
            margin: 0;
            line-height: 48px;
            text-align: center;
            display: block;

            &:first-child {
              padding: 0;
            }
          }

          .header_right {
            display: block;
            float: none;

            >div {
              padding: 0;
              margin: 0;
              height: 48px;
              line-height: 48px;
              float: none;
              text-align: center;
              display: flex;
              align-items: center;
              justify-content: center;

              .sun {
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
  }
}

/*平板*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  .layouts {
    .container {
      width: 768px;

      .icons {
        display: none;

        &.active {
          display: flex;
          height: 52px;
          width: 100%;
          top: auto;
          bottom: 0;
          transform: none;
          background-color: var(--bg-second);
          padding: 0;
          margin: 0;
          left: 0;

          div {
            flex: 1;
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;

            &:nth-child(1) {
              span {
                width: 28px;
                top: 4px;
                left: 0;
                right: 0;
                margin: auto;
              }
            }
          }
        }
      }
    }
  }
}

/*中等屏幕*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .layouts {
    .container {
      width: 970px;

      .icons {
        margin-left: 10px;
      }
    }
  }
}

/*大屏幕，或者宽屏*/
@media screen and (min-width: 1200px) {
  .layouts {
    .container {
      width: 1140px;
      overflow: initial;
    }
  }
}

// }