<template>
  <!-- <div class="index" @click="jump"> -->
  <div class="index">
    <header
      class="header"
      :style="{ paddingTop: systemInfo.statusBarHeight + 'px' }"
    >
      <dir class="area">
        <span>北京</span>
      </dir>

      <!-- <u-icon name="arrow-down"></u-icon> -->
      <div class="search">
        <span>试试搜：{{ witchData.searchframe.word }}</span>
      </div>
    </header>

    <!-- 轮播图 -->
    <div class="indexBanenr">
      <swiper
        class="bannerSwiper"
        autoplay
        indicator-dots="ture"
        indicator-color="rgba(255, 255, 255, .5)"
        indicator-active-color="#ffffff"
      >
        <swiper-item
          v-for="item in bannerData"
          :key="item.id"
          @click="goShopDetails(item.url)"
        >
          <img :src="item.picUrl" alt="" mode="widthFix" />
        </swiper-item>
      </swiper>
    </div>
    <!-- 服务端下发的配置 -->
    <div class="widget">
      <ul>
        <li
          v-for="item in widgetData"
          :key="item.img"
          @click="widgetClick(item)"
        >
          <img :src="item.img" alt="" mode="widthFix" />
          <p>{{ item.name }}</p>
        </li>
      </ul>
    </div>
    <!-- 限时优惠 -->
    <div class="operat" v-if="operatList.length">
      <div class="operatTitle">
        <p>
          <img :src="operatList[1].titleIcon" alt="" mode="widthFix" />
          <span>{{ operatList[1].title }}</span>
        </p>
        <p>
          <span>更多</span>
          <span>></span>
        </p>
      </div>
      <div class="operatList">
        <scroll-view scroll-x="true">
          <ul>
            <li
              v-for="item in operatList[1].listData[0].items64"
              :key="item[0].id"
            >
              <div class="listImg" @click="goShopDetail(item[0].briefId)">
                <img :src="item[0].image" alt="" mode="widthFix" />
                <div class="ImgPos">
                  <p>
                    <span class="price">￥{{ item[0].price }}</span>
                    <span class="oldPrice">￥{{ item[0].oldPrice }}</span>
                  </p>
                  <span>抢</span>
                </div>
              </div>
              <div class="listText">
                <p>{{ item[0].title }}</p>
                <p class="tags">
                  <span
                    v-for="value in item[0].briefTag.split(',')"
                    :key="value"
                    >{{ value }}</span
                  >
                </p>
              </div>
            </li>
          </ul>
        </scroll-view>
      </div>
      <div class="operatePoster">
        <img
          @click="clickImg(operatList[0].listData[0].items64[0][0].url)"
          :src="operatList[0].listData[0].items64[0][0].image"
          alt=""
          mode="widthFix"
        />
        <div>
          <img
            @click="clickImg(operatList[0].listData[0].items64[1][0].url)"
            :src="operatList[0].listData[0].items64[1][0].image"
            alt=""
            mode="widthFix"
          />
          <img
            @click="clickImg(operatList[0].listData[0].items64[2][0].url)"
            :src="operatList[0].listData[0].items64[2][0].image"
            alt=""
            mode="widthFix"
          />
        </div>
      </div>
    </div>
    <!-- 列表 -->
    <div class="tabs">
      <mp-sticky>
        <div class="tabs_title">
          <div class="title_calssify">
            <span
              :class="{ active: tabInd === index }"
              v-for="(item, index) in tabsData"
              :key="item.id"
              @click="this.tabInd = index"
            >
              {{ item.name }}
            </span>
          </div>
        </div>
      </mp-sticky>

      <div class="tabs_list">
        <div class="style_one" v-if="tabInd === 0">
          <!-- 左 -->
          <div class="list_left">
            <div class="item" v-for="(item, index) in leftData" :key="index">
              <Item1 v-if="item.type == 1" :key="index" :data="item.data" />
              <Item2
                v-else-if="item.type == 2"
                :key="index"
                :data="item.data"
              />
              <Item3
                v-else-if="item.type == 3"
                :key="index"
                :data="item.data"
              />
              <Item4
                v-else-if="item.type == 4"
                :key="index"
                :data="item.data"
              />
            </div>
          </div>
          <!-- 右 -->
          <div class="list_right">
            <div class="item" v-for="(item, index) in rightData" :key="index">
              <Item1 v-if="item.type == 1" :key="index" :data="item.data" />
              <Item2
                v-else-if="item.type == 2"
                :key="index"
                :data="item.data"
              />
              <Item3
                v-else-if="item.type == 3"
                :key="index"
                :data="item.data"
              />
              <Item4
                v-else-if="item.type == 4"
                :key="index"
                :data="item.data"
              />
            </div>
          </div>
        </div>
        <div v-else>
          <Item5
            v-for="(item, index) in shopData"
            :key="index"
            :data="item.data"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
import Item1 from "@/components/IndexShowList/Item1";
import Item2 from "@/components/IndexShowList/Item2";
import Item3 from "@/components/IndexShowList/Item3";
import Item4 from "@/components/IndexShowList/Item4";
import Item5 from "@/components/IndexShowList/Item5";
export default {
  components: {
    Item1,
    Item2,
    Item3,
    Item4,
    Item5,
  },
  computed: {
    ...mapState({
      bannerData: (state) => state.index.bannerData,
      widgetData: (state) => state.index.widgetData,
      operatList: (state) => state.index.operatList,
      tabsData: (state) => state.index.tabsData,
      shopData: (state) => state.index.shopData,
      shopQuery: (state) => state.index.shopQuery,
      shopCount: (state) => state.index.shopCount,
      witchData: (state) => state.index.witchData,
    }),
  },
  data() {
    return {
      tabInd: -1,
      leftData: [],
      rightData: [],
      systemInfo: {}
    };
  },
  watch: {
    tabInd: {
      async handler(value) {
        if (this.tabsData.length) {
          // 改变tabId

          if (value === 3) {
            this.updata({
              shopQuery: {
                ...this.shopQuery,
                tabId: this.tabsData[value].id,
                showSort: 2,
                showSortMode: 2,
                pageNo: 1,
              },
            });
          } else {
            this.updata({
              shopQuery: {
                ...this.shopQuery,
                tabId: this.tabsData[value].id,
                showSort: 1,
                showSortMode: 1,
                page: 1,
              },
            });
          }
          // 重新获取店铺列表
          await this.getQueryByTab();
          if (value === 0) {
            await this.sortShops();
          }
        }
      },
      immediate: true,
    },
  },
  //上拉
  async onReachBottom() {
    console.log("reach bottom");
    // 改变pageNo
    if (this.shopCount > this.shopQuery.pageNo * 10) {
      if (this.tabInd === 3) {
        this.updata({
          shopQuery: {
            ...this.shopQuery,
            pageNo: this.shopQuery.pageNo + 1,
          },
        });
      } else {
        this.updata({
          shopQuery: {
            ...this.shopQuery,
            pageNo: this.shopQuery.pageNo + 1,
          },
        });
      }

      // 重新获取店铺列表
      await this.getQueryByTab();
      this.sortShops();
    }
  },
  methods: {
    ...mapMutations({
      updata: "index/updata",
    }),
    ...mapActions({
      getBanner: "index/getBanner",
      getWidget: "index/getWidget",
      getOperatList: "index/getOperatList",
      getTabs: "index/getTabs",
      getQueryByTab: "index/getQueryByTab",
      getSwitch: "index/getSwitch",
    }),
    // 流水布局左右分类
    async sortShops() {
      if (this.shopQuery.pageNo === 1) {
        this.left = [];
        this.right = [];
      }
      let length = this.leftData.length + this.rightData.length;
      for (let i = length; i < this.shopData.length; i++) {
        await new Promise((resolve, reject) => {
          this.$nextTick(async () => {
            let container = await this.getMinHeightContainer();
            this[container].push(this.shopData[i]);
            resolve();
          });
        });
      }
    },
    // 流水布局判断
    async getMinHeightContainer() {
      return new Promise((resolve, reject) => {
        try {
          wx.createSelectorQuery()
            .select(".list_left")
            .boundingClientRect(function (rect) {
              let leftHeight = rect.height;
              wx.createSelectorQuery()
                .select(".list_right")
                .boundingClientRect(function (Rightrect) {
                  let rightHeight = Rightrect.height;
                  if (leftHeight > rightHeight) {
                    resolve("rightData");
                  } else {
                    resolve("leftData");
                  }
                })
                .exec();
            })
            .exec();
        } catch (error) {
          reject(e);
        }
      });
    },
  /*  
  // 测试专用 jump 优惠券详情
    jump(){
       wx.navigateTo({
        url:`/pages/couponsdetail/index?id=695`
      })
    },
    */
    // 分类列表点击
    widgetClick(item) {
      console.log(item);
      let src = item.link;
      if (item.type === 1) {
        const query =
          "cityId=19&cityName=%25E5%258C%2597%25E4%25BA%25AC&latitude=39.95933&longitude=116.29845&mwAuthToken=uPCQvKl9RhX5r9SGP2noD0Ei0D3egOAN8IrKQ9lIY-BS0nZ8NKqZIMOel3oNkoUYqt4aX-CaHRh2EapnL3Y-BGIxMQIChA4Y-BEELmehQZ2vwpvliJaf3GB1XXoa7PKGcN3No30X-CSpj0nIxqbJK4X-Cp3hPgtcL7IXiX-C5FwH4fCCnFPP75PiQAV687ax9LBMU3p8mx7qIWrm1u2ZIbmPpChaX-Ce3QuHcg-Z-Z&networkType=&source=mwMini";
        if (src.indexOf("?") !== -1) {
          src = src + "&" + query;
        } else {
          src = src + "?" + query;
        }
        console.log(src);
        wx.navigateTo({
          url: `/pages/webview/index?src=${encodeURIComponent(src)}`,
        });
      } else {
        wx.navigateToMiniProgram({
          appId: item.appId,
          path: item.appLink,
        });
      }
    },
    goShopDetail(ida) {
      console.log(ida);
      wx.navigateTo({ url: `/pages/goodinfo/index?id=${ida}` });
    },
    // 轮播图跳详情
    goShopDetails(url) {
      console.log(url);
      wx.navigateTo({ url: url });
    },
  },
  async created() {
     this.systemInfo = wx.getSystemInfoSync();
    // 搜索词
    this.getSwitch();
    // 派发轮播图数据
    this.getBanner();
    // 派发轮播图下分类数据
    this.getWidget();
    // 限时特惠数据
    this.getOperatList();
    // tabs数据
    await this.getTabs();
    //初始化下标
    this.tabInd = 0;
  },
};
</script>

<style lang="scss" scoped>
.index {
  background: #f2f2f3;
  .header {
    display: flex;
    padding: 0 3%;
    height: 88rpx;
    align-items: center;
    box-sizing: inherit;
    background: #e8443d;
    .area {
      margin-right: 5px;
      span {
        font-size: 26rpx;
        color: #fff;
      }
    }
    .search {
      width: 360rpx;
      height: 50rpx;
      line-height: 50rpx;
      text-align: center;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 50px;
      span {
        color: #fff;
        font-size: 24rpx;
      }
    }
  }
}
.status_bar {
  height: var(--status-bar-height);
  width: 100%;
}
.bannerSwiper {
  height: 225rpx;
  margin: 3%;
  border-radius: 5px;
  overflow: hidden;
  img {
    width: 100%;
  }
}
.widget {
  margin: 15rpx 3%;
  ul {
    display: flex;
    justify-content: space-between;
    li {
      width: 110rpx;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 100%;
      }
      p {
        margin-top: 5rpx;
        font-size: 22rpx;
      }
    }
  }
}
.operat {
  margin: 15rpx 3%;
}
.operatTitle {
  display: flex;
  justify-content: space-between;
  margin: 3% 0;
  img {
    width: 40rpx;
    vertical-align: text-top;
    margin-right: 10rpx;
  }
  p:first-child {
    display: flex;
    align-items: center;
  }
  p:first-child span {
    font-size: 40rpx;
    font-weight: 500;
  }
  p:last-child span {
    font-size: 30rpx;
    font-weight: 500;
  }
}
.operatList {
  margin: 3% 0;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    li {
      flex-shrink: 0;
      width: 280rpx;
      margin-right: 10rpx;
    }
    .listImg {
      width: 100%;
      height: 260rpx;
      position: relative;
      border-radius: 5px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
      .ImgPos {
        height: 70rpx;
        width: 100%;
        position: absolute;
        background: url("@/static/bg1.png") no-repeat;
        background-size: 100%;
        bottom: -1px;
        display: flex;
        justify-content: space-around;
        box-sizing: border-box;
        align-items: center;
        span {
          font-size: 38rpx;
          color: #fff;
        }
        .oldPrice {
          font-size: 24rpx;
          opacity: 0.8;
          text-decoration: line-through;
          padding-left: 4px;
        }
      }
    }
    .listText {
      p {
        font-size: 32rpx;
        font-weight: 500;
        margin: 5rpx 0;
      }
    }
    .tags span {
      margin-right: 10rpx;
      background: #fdf3e4;
      padding: 3px;
      color: #e99a3d;
      font-size: 22rpx;
    }
  }
}
.operatePoster {
  margin: 3% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    border-radius: 5px;
  }
  & > img {
    width: 49%;
  }
  div {
    width: 49%;
    img {
      width: 100%;
    }
  }
}
.tabs_title {
}
.title_calssify {
  margin: 10rpx 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    font-weight: 500;
    font-size: 34rpx;
    padding: 8rpx 0;
    border-bottom: 3px solid transparent;
  }
  span.active {
    color: #de5146;
    border-bottom: 3px solid #d65146;
  }
}
.tabs_list {
  // margin: 0 3%;
  position: relative;
  .style_one {
    display: flex;
    justify-content: space-between;
    > div {
      width: 50%;
      position: absolute;
      top: 0;
      box-sizing: border-box;
      background: #f0f0f0;
      &.list_right {
        right: 0;
        padding-right: 3%;
        padding-left: 5px;
      }
      &.list_left {
        padding-left: 3%;
        padding-right: 5px;
      }
    }
  }
}
</style>