.panelNav {
  min-height: 48px;
  margin-bottom: -1px;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  background-color: #fff;
  border-bottom: 1px solid hsl(0, 0%, 94%);
  border-radius: 2px 2px 0 0;

  .header {
    width: 100%;
    display: inline-block;
    flex: 1;
    padding: 16px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    // border-bottom: 1px solid #ccc;
    p {
      margin-left: 24px;
    }

    &::after {
      display: table;
      border-bottom: 1px solid #ccc;
      content: "";
      width: 100%;
      height: 1px;
    }
  }



  .canvas {
    height: 300px;

    h3 {
      font-weight: 700;
      padding-left: 24px;
    }

    .canvasContent {
      margin: 0 auto;
    }
  }

}
