.directory {
  header {
    height: 30px;
    font-weight: 600;
    background: var(--bg-body);
  }

  main {
    height: 300px;
    overflow: auto;
    margin-left: 10px;
  }
}

.directory_title {
  position: relative;
  max-height: 50vh;

  div {
    height: 30px;
    line-height: 15px;
    padding: 0.5rem 0;
    display: list-item;
    position: relative;
    color: var(--second-text-color);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 2px;
      bottom: 0;
      width: 2px;
      background-color: var(--border-color);
      opacity: 0.5;
    }

    .level2_title {
      &.light {
        background-color: var(--comment-editor-border-color);
        color: var(--primary-color); 
        &:before {
          background-color: red;
        }
      }

      li {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &.light {
        background: var(--bg-second); 
        color: var(--primary-color);
        &:before {
          background: var(--primary-color);
        }
      }
      &:hover {
        color: var(--primary-color); 
        &::before {
          background: var(--primary-color);
        }
      }

      &:before {
        position: absolute;
        top: 13px;
        width: 6px;
        height: 6px;
        left: 5px;
        border-radius: 50%;
        margin-left: -5px;
        background: var(--second-text-color);
        opacity: 1;
        content: '';
      }
    }
    .level3_title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &.light {
        background: var(--bg-second); 
        color: var(--primary-color);
        &:before {
          background: var(--primary-color);
        }
      }

      &::before {
        position: absolute;
        top: 13px;
        width: 4px;
        height: 4px;
        left: 20px;
        border-radius: 50%;
        margin-left: -5px;
        background: var(--second-text-color);
        opacity: 1;
        content: '';
        --dot-left: 10px;
        --dot-width: 4px;
      }

      &:hover {
        color: var(--primary-color); 
        &::before {
          background: var(--primary-color);
        }
      }
    }
    .level4_title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &.light {
        background: var(--bg-second);
        color: var(--primary-color);
        &:before {
          background: var(--primary-color);
        }
      }

      &::before {
        position: absolute;
        top: 13px;
        width: 4px;
        height: 4px;
        left: 33px;
        border-radius: 50%;
        margin-left: -5px;
        background: var(--second-text-color);
        opacity: 1;
        content: '';
        --dot-left: 10px;
        --dot-width: 4px;
      }

      &:hover {
        color: var(--primary-color);

        &::before {
          background: var(--primary-color);
        }
      }
    }
  }
}
