.views {
    span {
      display: block;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      border-radius: 50%;
      background-color: rgb(82, 196, 26);
      color: #fff;
    }
  }
  
  .status {
    i {
      position: relative;
      top: -1px;
      display: inline-block;
      width: 6px;
      height: 6px;
      vertical-align: middle;
      border-radius: 50%;
      padding: 3px;
      margin: 0 5px;
    }
  
    .yellow {
      background-color: #52c41a;
    }
  
    .green {
      background-color: #faad14;
    }
  
  }
  
  .createAt {
    span {
      display: inline-block;
      color: #0188fb;
      margin: 0 8px;
      cursor: pointer;
    }
  }
  
  .table {
    width: 100%;
    background-color: #fff;
  
    .placeholder {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
      font-size: 1.1em;
      height: 35px;
  
      button {
        margin: 0 5px;
      }
  
      .btnBlock {
        display: block;
      }
  
      .btnNone {
        display: none;
      }
    }
  }
  