<template>
  <div class="coupons">
    <div class="couponsTabtop">
      <span
        v-for="(item, index) in tabtop"
        :key="index"
        :class="ind === index ? 'active' : ''"
        @click="setind(index)"
      >
        {{ item }}
      </span>
    </div>
    <div v-if="couponsList.codeList.length">
       <div v-for="(item) in  couponsList.codeList" :key="item.id" class="use_coupons">
           <div class="left">
               <p>￥ <span>{{item.preferentialReduceAmount}}</span> </p>
               <p> 满{{item.useLimitOrderAmount}}元可用 </p>
           </div>
           <div class="rigth">
               <div>
                   <h2> {{item.name}} </h2>
                  
                   <p class="time"> {{ new Date(item.useTimeLimitStart).toLocaleDateString() }}至{{ new Date(item.useTimeLimitEnd).toLocaleDateString() }} </p>
                   <p class="yuan">满减卷</p>
               </div>
               <div>
                  <span class="rigth_use"> 去使用</span>
               </div>
           </div>
       </div>
    </div>
     <div v-else class="pocketBottom">
        <img src="http://file.mwfile.cn/in1003/image/20201103/noOrder.png" alt="" mode="widthFix">
        <p>暂无收藏内容</p>
    </div>
  </div>
  
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";

export default {
  data() {
    return {
      ind: 0,
      tabtop: ["餐厅", "商品", "品牌"],
    };
  },
  computed: {
    ...mapState({
      userdata: (state) => state.my.userdata,
      couponsList: (state) => state.my.couponsList,
    }),
  },
  mounted() {
    this.getMyCoupons();
    console.log(this.couponsList, "------");
  },
  methods: {
    ...mapMutations({
      update: "my/update",
    }),
    ...mapActions({
      getMyCoupons: "my/getMyCoupons",
    }),
   async setind(index) {
    this.ind = index;
    // new Date().toLocaleDateString
    await this.getMyCoupons({
        "type": index,
    });
    },
  },
};
</script>

<style lang="scss" scoped>
.coupons{
  height: 100%;
    padding: 0 50rpx;
    box-sizing: border-box;
    background: #F5F5F5;
}
.couponsTabtop {
  height: 80rpx;
  display: flex;
  align-items: center;
  justify-content: space-around;
  span {
    display: block;
    height: 100%;
    line-height: 80rpx;
    text-align: center;
  }
  .active {
    color: red;
    border-bottom: 1px solid red;
  }
}
.pocketBottom{
    width: 100%;
    height: 300px;
    display: flex;
   flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #A3A3A3;
  img{
    width: 200rpx;
  }
}
.use_coupons{
    display: flex;
    margin-top: 20rpx;
    
     box-shadow: #eee 0px 0px 1px 1px;
    .left{
        width: 40%;
        height: 150rpx;
        overflow: hidden;
        background: #FF9E6B;
        color: #fff;
        padding-top:  30rpx ;
        p{
            text-align: center;
            font-size: 25rpx;
            span{
                font-size: 50rpx;
            }
        }
    }
    .rigth{
        width: 70%;
         padding:  30rpx 20rpx ;
           display: flex;
           align-items: center;
           justify-content: space-between;
           .time{
               font-size: 20rpx;
               margin: 10rpx 0;
             
           }
           .yuan{
               display: block;
               width: 60rpx;
               height: 40rpx;
               line-height: 40rpx;
               text-align: center;
               color: #fff;
                font-size: 15rpx;
        background: #FF9E6B;

           }
           .rigth_use{
               background: #FDEEED;
               border-radius: 20rpx;
               width: 100rpx;
               height: 45rpx;
               line-height: 45rpx;
               text-align: center;
               color: #ED706B;
               display: block;
               font-size: 25rpx;
           }
    }
}
</style>