<template>
  <div class="addinterview">
    <h2 class="h2">面试信息</h2>
    <ul class="form">
      <li>
        <label>公司名称</label>
        <input
          type="text"
          placeholder="请输入公司名称"
          v-model="name"
        />
      </li>
      <li>
        <label>公司电话</label>
        <input
          type="text"
          placeholder="请输入面试联系人电话"
          v-model="tel"
        />
      </li>
      <li>
        <label>面试时间</label>
        <span @click="setshow"> {{ time }} </span>
      </li>
      <li @click="jumpaddress">
        <label>面试地址</label> <span> {{ city.name}} </span>
      </li>
    </ul>
    <h2 class="h2">备注信息</h2>
    <div class="textarea">
      <textarea
        v-model="text"
        cols="30"
        rows="10"
        placeholder="备注信息(可发100个字以内)"
      >
      </textarea>
    </div>
    <button
      :class="
        name && /^(13[0-9]|14[01456879]|15[0-35-9]|16[2567]|17[0-8]|18[0-9]|19[0-35-9])\d{8}$/.test(tel) && city.name!='请输入面试地址' ? 'on' : 'btn'
      "
      @click="submit"
    >
      确认
    </button>
    <u-picker
      mode="time"
      v-model="show"
      :params="params"
      @confirm="confirm"
    ></u-picker>
  </div>
</template>

<script>
import {moments} from '../../utils/moment'
const chooseLocation = requirePlugin("chooseLocation");
import { ref, reactive, toRefs,onMounted } from "@vue/composition-api";
import {addSign} from '../../services'
export default {
  onShow() {
    const location = chooseLocation.getLocation(); // 如果点击确认选点按钮，则返回选点结果对象，否则返回null
    if(location){
      this.city = location ;
    }
  },
  onUnload() {
    // 页面卸载时设置插件选点数据为null，防止再次进入页面，geLocation返回的是上次选点结果
    chooseLocation.setLocation(null);
  },
  setup() {
    const params = reactive({
      year: false,
      month: false,
      day: true,
      hour: true,
      minute: true,
      second: false,
    });
    const cityneme = ref("");

    const inpForm = reactive({
      time:moments(new Date()),
      city: {
        name: "请输入面试地址",
      },
      name: "",
      tel: "",
      text: "",
    });
    const show = ref(false);
    function setshow() {
      show.value = true;
    }
    function submit() {
       let data = {
        company:inpForm.name,
        phone:inpForm.tel,
        form_id:"",
        address:JSON.stringify(inpForm.city),
        latitude:inpForm.city.latitude,
        longitude:inpForm.city.longitude,
        start_time:+new Date(inpForm.time),
        description:inpForm.text
      }
      addSign(data).then(res=>{
        if(res.code===0){
            wx.showToast({
              title: '成功',
              icon: 'success',
              duration: 1500
            })
            setTimeout(()=>{
              wx.navigateTo({
                url:"/pages/my/myinterview"
              })
            },1500)
        }
      })
    }
    function confirm(data) {
      const getMonths =
        new Date().getMonth() + 1 < 10
          ? "0" + (new Date().getMonth() + 1)
          : new Date().getMonth() + 1;
      inpForm.time = `${new Date().getFullYear()}-${getMonths}-${data.day} ${
        data.hour
      }:${data.minute}`;
    }
    function jumpaddress() {
      const key = "WCLBZ-Q6L6S-C4NO6-6BPPE-OEV2F-52FGA"; //使用在腾讯位置服务申请的key
      const referer = "一面而就"; //调用插件的app的名称
      const category = "生活服务,娱乐休闲";
      wx.navigateTo({
        url:
          "plugin://chooseLocation/index?key=" +
          key +
          "&referer=" +
          referer +
          "&category=" +
          category,
      });
      //       wx.navigateTo({
      //         url:"/pages/address/index"
      //       })
    }
    return {
      params,
      show,
      cityneme,
      ...toRefs(inpForm),
      submit,
      setshow,
      confirm,
      jumpaddress,
    };
  },
};
</script>

<style lang="scss" scoped>
.addinterview {
  width: 100%;
  .h2 {
    height: 70rpx;
    line-height: 70rpx;
    padding: 0 30rpx;
    background: rgb(245, 242, 242);
  }
  .form {
    width: 100%;
    padding: 0 40rpx;
    li {
      height: 90rpx;
      border-bottom: 1px solid #9999;
      display: flex;
      justify-content: space-between;
      align-items: center;
      label {
        width: 20%;
      }
      span,
      input {
        width: 75%;
        margin-left: 40rpx;
        height: 100%;
        line-height: 90rpx;
      }
    }
  }
  .textarea {
    padding: 30rpx;
    width: 100%;
    height: 300rpx;
    box-sizing: border-box;
    textarea {
      width: 100%;
      height: 100%;
      border: 1px solid #000;
      padding: 10rpx 10rpx;
      box-sizing: border-box;
    }
  }
  .btn {
    background: #999999;
    color: #fff;
  }
  .on {
    background: #197dbf;
    color: #fff;
  }
}
</style>