.title {
  background: rgb(121, 242, 157);
}

a {
  color: #000;
}

.quicknav {
  display: flex;
  flex-wrap: nowrap;

  a {
    display: block;
    flex: 1;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
}

.article {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;

  .articleItem {
    width: 33%;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: inherit;
    padding: 24px;
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    box-shadow: 1px 0 0 0 #f0f0f0,
      0 1px 0 0 #f0f0f0,
      1px 1px 0 0 #f0f0f0,
      inset 1px 0 0 0 #f0f0f0,
      inset 0 1px 0 0 #f0f0f0;
    transition: all .3s;

    img {
      width: 100%;
      display: inline-block;
      object-fit: cover;
    }

    &:hover {
      position: relative;
      z-index: 1;
      box-shadow: 0 1px 2px -2px #D3D6D9,
        0 3px 6px 0 #D3D6D9,
        0 5px 12px 4px #D3D6D9;
    }
  }
}


.latestComments {
  .commentsItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    color: #000;
    border-bottom: 1px solid #f0f0f0;

    span {
      margin: 0 8px;
      color: #1890ff;
      cursor: pointer;
    }

    i {
      position: relative;
      top: -1px;
      display: inline-block;
      width: 6px;
      height: 6px;
      vertical-align: middle;
      border-radius: 50%;
    }

    .yellow {
      background-color: #52c41a;
      ;
    }

    .green {
      background-color: #faad14;
    }

    b {
      font-weight: 500;
    }
  }
}

:global {
  .ant-popover-inner-content {
    .ant-btn-primary {
      width: auto;
    }
  }

  .ant-modal-footer {

    .ant-btn,
    .ant-btn-primary {
      width: auto;
    }
  }
}
