<template>
  <div class="order">
    <div class="order_top">
      <span @click="jumpcoupons">
        <img src="../../static/my/you.png" alt="图片丢失" mode="widthFlx" />
        优惠券
        <i v-if="couponsList.stateCount[0]" class="red"></i>
        </span
      ><b>|</b>
      <span @click="jumpcollection">
        <img src="../../static/my/chang.png" alt="图片丢失" mode="widthFlx" />
        收藏</span
      >
    </div>
    <div class="order_bottom">
      <div class="order_all">
        <span>订单</span>
        <span class="all_order"
          >全部订单
          <img class="gt" 
          src="https://m.mwfile.cn/mm1003/image/20210804/111543_4a8f27e038.png"
           alt="" 
           mode="widthFix">
          <!--图片  -->
        </span>
      </div>
      <div class="order_list">
        <div class="order_item">
          <p>
            <img src="../../static/my/fu.png" alt="图片丢失" mode="widthFlx" />
          </p>
          <p>代付款</p>
        </div>
        <div class="order_item">
          <p>
            <img src="../../static/my/fa.png" alt="图片丢失" mode="widthFlx" />
          </p>
          <p>代发货</p>
        </div>
        <div class="order_item">
          <p>
            <img src="../../static/my/ke.png" alt="图片丢失" mode="widthFlx" />
          </p>
          <p>可使用</p>
        </div>
        <div class="order_item">
          <p>
            <img
              src="../../static/my/qing.png"
              alt="图片丢失"
              mode="widthFlx"
            />
          </p>
          <p>待评价</p>
        </div>
        <div class="order_item">
          <p>
            <img src="../../static/my/hou.png" alt="图片丢失" mode="widthFlx" />
          </p>
          <p>退货/收货</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex'
export default {
  // name: 'DeliciousIndex',

  // components: { ComponentName },

  // directives: { DirectiveName },

  data() {
    return {};
  },
  computed: {
    ...mapState({
      couponsList: (state) => state.my.couponsList,
    }),
  },
  mounted() {
  },

  methods: {
    jumpcoupons() {
      wx.navigateTo({
        url: "/pages/coupons/index",
      });
    },
    jumpcollection(){
        wx.navigateTo({
        url: "/pages/collection/index",
      });
    }
  },
};
</script>

<style lang="scss" scoped>
.order {
  margin-top: 30rpx;
  border-radius: 20rpx;
  padding: 30rpx;
  box-shadow: #eee 0px 0px 1px 1px;
  .order_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30rpx;
    border-bottom: 1px solid #eee;
    .red{
      display: inline-block;
      width: 20rpx;
      height: 20rpx;
      background: #FF6D69;
      border-radius: 50%;
      position: relative;
      top: -20rpx;
    }
    span {
      display: block;
      width: 50%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 55rpx;
        height: 50rpx;
        margin-right: 20rpx;
      }
    }
    b {
      color: #eee;
    }
  }
}
.order .order_bottom {
  padding-top: 15rpx;
  .order_all {
    display: flex;
    justify-content: space-between;
    .all_order {
      color: #999;
      font-size: 25rpx;
    }
  }
  .order_list {
    margin-top: 40rpx;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    p {
      text-align: center;
      font-size: 20rpx;
    }
    img {
      width: 75rpx;
      height: 65rpx;
    }
  }
}
.gt{
  width: 15rpx;
  transform: rotate(-90deg);
  position: relative;
  top: -8rpx;
}
</style>